allianz/jade/busqueda.jade
//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter
include modules/_mod_banner
include modules/_mod_paginator

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
+m-headBuilder({
    title: "Resultados de busqueda - Allianz Zona",
    metaList: {
        "viewport": "width=device-width, initial-scale=1.0"
    },
    cssFiles: [
        "css/styles-aui",
        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
        "css/bootstrap",
        "libs/rangeSlider/classic-min",
        "css/datepicker.min",
        "css/general",
        "css/modules"
    ],
    jsFiles: [
        "libs/jquery-1.11.3.min",
        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
        "libs/slick",
        "libs/rangeSlider/jQAllRangeSliders-min",
        "libs/datepicker/lang/es",
        "libs/datepicker/datepicker",
        "js/init",
        "js/main"
    ]
})
body
    section.dFront
        h1.hideAccessible P&aacute;gina de b&uacute;squeda
        //-mod_header
        +mod_header({
            menu: {
                items: [
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta",
                        active: true
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            form(class="container mod_formField mod_search sch-spacing",method="post",action="#")
                .row
                    .col-xs-12.col-lg-7
                        .mod_title
                            h1.tit-title.tit-h1 Resultados -&nbsp;
                                span.tit-result Marc M&aacute;rquez
                .row
                    .col-xs-12.col-md-10.col-lg-7
                        fieldset.fmf-fieldset
                            legend.hideAccessible Resultados de busqueda
                            div.fmf-search
                                label(for="search-result", class="fmf-label hideAccessible") Campo de texto para buscar
                                input(type="text", class="fmf-field fmf-text", id="search-result", placeholder="Iniciar busqueda")
                                button(type="submit", class="fmf-btnSearch") Search
                            p.sch-result Se han encontrado&nbsp;
                                span.sch-number 6
                                | &nbsp;resultados
                        ul.sch-list
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink") Eventos - Allianz Zona Oficial - Marc M&aacute;rquez
                                p.sch-description Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink ico-twitter") Allianz (@AllianzZona) Twitter
                                .sch-medium
                                    p.sch-description Allianz will stop financing coal-based business models. Read more here:
                                        a(href="#",title="Ir a enlace",class="sch-link") bit.ly/1HjDjQv #COP21 #divest #coal
                                .sch-medium
                                    p.sch-description Allianz will stop financing coal-based business models. Read more here:
                                        a(href="#",title="Ir a enlace",class="sch-link") bit.ly/1HjDjQv #COP21 #divest #coal
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink") Eventos - Allianz Zona Oficial - Marc M&aacute;rquez
                                p.sch-description Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink") Eventos - Allianz Zona Oficial - Marc M&aacute;rquez
                                p.sch-description Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink") Eventos - Allianz Zona Oficial - Marc M&aacute;rquez
                                p.sch-description Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink") Eventos - Allianz Zona Oficial - Marc M&aacute;rquez
                                p.sch-description Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...
                .row
                    .col-xs-12.col-md-12.col-lg-7
                        +mod_paginator({
                            cssClass: "pgr-search pgr-border",
                            items: [
                                {
                                    content: "Previous Page",
                                    type: "disabled",
                                    cssClass: "pgr-prev"
                                },
                                {
                                    content: "1",
                                    type: "active"
                                },
                                {
                                    content: "2"
                                },
                                {
                                    content: "Next Page",
                                    cssClass: "pgr-next"
                                }
                            ]
                        })

        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>

allianz/busqueda.html

<!DOCTYPE html><!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Resultados de busqueda - Allianz Zona</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="css/styles-aui.css"/>
  <link rel="stylesheet" type="text/css" href="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="libs/rangeSlider/classic-min.css"/>
  <link rel="stylesheet" type="text/css" href="css/datepicker.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/general.css"/>
  <link rel="stylesheet" type="text/css" href="css/modules.css"/>
  <!-- Fin archivos CSS-->
  <!-- Archivos JS-->
  <script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="libs/slick.js"></script>
  <script type="text/javascript" src="libs/rangeSlider/jQAllRangeSliders-min.js"></script>
  <script type="text/javascript" src="libs/datepicker/lang/es.js"></script>
  <script type="text/javascript" src="libs/datepicker/datepicker.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- Fin rchivos JS-->
</head>
<body>
  <section class="dFront">
    <h1 class="hideAccessible">P&aacute;gina de b&uacute;squeda</h1>
    <!-- mod_header-->
    <header class="mod_header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="hdr-logo"><a href="#" title="Logo Allianz" class="hdr-logoLink">
                <figure class="hdr-img"><img src="images/modules/mod_header/logo-allianz-mobile.png" alt="Logo Allianz Mobile" class="hdr-logoMobile"/><img src="images/modules/mod_header/logo-allianz.png" alt="Logo Allianz" class="hdr-logoDesktop"/>
                </figure></a></div>
            <!-- Nav menu-->
            <nav class="mod_navMenu">
              <h2 class="hideAccessible">Men&uacute; de navegaci&oacute;n</h2><a href="#" title="Desplegar menu mobile" class="nvm-mobileButton fc-menuMobile_init">Desplegar menu Mobile</a>
              <ul class="nvm-list nvm-level-1">
                <li class="nvm-listItem"><a href="#" title="Ir a Vive" class="nvm-listItemLink">Vive</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Conecta" class="nvm-listItemLink">Conecta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Disfruta" class="nvm-listItemLink nvm-active">Disfruta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Ven" class="nvm-listItemLink">Ven</a></li>
                <li class="nvm-listItem hdr-language">
                  <form method="post" action="#" class="mod_formField">
                    <label for="id-language" class="hideAccessible">Selecciona lenguaje</label>
                    <select id="id-language" class="fmf-combobox fc-combobox_init">
                      <option class="fmf-option">ES</option>
                      <option class="fmf-option">EN</option>
                      <option class="fmf-option">CAT</option>
                    </select>
                  </form>
                </li>
                <li class="nvm-listItem hdr-search">
                  <form method="post" action="#" class="mod_formField">
                    <div class="hdr-searchField mod_formField">
                      <label for="search-menu" class="hideAccessible">Buscar</label>
                      <input type="text" id="search-menu" placeholder="Buscar..." class="fmf-field fmf-text"/>
                    </div><a href="#" title="Pulsa para mostrar buscador" class="hdr-searchLink fc-searchButton_init">Pulsa para mostrar buscador</a>
                  </form>
                </li>
                <li class="nvm-listItem hdr-zone"><a href="#" title="Zona privada" class="hdr-zoneLink">Zona privada</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End mod_header-->
    <!-- CONTAINER-->
    <main class="mod-main">
      <form method="post" action="#" class="container mod_formField mod_search sch-spacing">
        <div class="row">
          <div class="col-xs-12 col-lg-7">
            <div class="mod_title">
              <h1 class="tit-title tit-h1">Resultados -&nbsp;<span class="tit-result">Marc M&aacute;rquez</span></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-lg-7">
            <fieldset class="fmf-fieldset">
              <legend class="hideAccessible">Resultados de busqueda</legend>
              <div class="fmf-search">
                <label for="search-result" class="fmf-label hideAccessible">Campo de texto para buscar</label>
                <input type="text" id="search-result" placeholder="Iniciar busqueda" class="fmf-field fmf-text">
                <button type="submit" class="fmf-btnSearch">Search</button>
              </div>
              <p class="sch-result">Se han encontrado&nbsp;<span class="sch-number">6</span>&nbsp;resultados</p>
            </fieldset>
            <ul class="sch-list">
              <li class="sch-listItem">
                <h2 class="sch-listItemTitle"><a href="#" class="sch-listItemLink">Eventos - Allianz Zona Oficial - Marc M&aacute;rquez</a></h2>
                <p class="sch-description">Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...</p>
              </li>
              <li class="sch-listItem">
                <h2 class="sch-listItemTitle"><a href="#" class="sch-listItemLink ico-twitter">Allianz (@AllianzZona) Twitter</a></h2>
                <div class="sch-medium">
                  <p class="sch-description">Allianz will stop financing coal-based business models. Read more here:<a href="#" title="Ir a enlace" class="sch-link">bit.ly/1HjDjQv #COP21 #divest #coal</a></p>
                </div>
                <div class="sch-medium">
                  <p class="sch-description">Allianz will stop financing coal-based business models. Read more here:<a href="#" title="Ir a enlace" class="sch-link">bit.ly/1HjDjQv #COP21 #divest #coal</a></p>
                </div>
              </li>
              <li class="sch-listItem">
                <h2 class="sch-listItemTitle"><a href="#" class="sch-listItemLink">Eventos - Allianz Zona Oficial - Marc M&aacute;rquez</a></h2>
                <p class="sch-description">Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...</p>
              </li>
              <li class="sch-listItem">
                <h2 class="sch-listItemTitle"><a href="#" class="sch-listItemLink">Eventos - Allianz Zona Oficial - Marc M&aacute;rquez</a></h2>
                <p class="sch-description">Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...</p>
              </li>
              <li class="sch-listItem">
                <h2 class="sch-listItemTitle"><a href="#" class="sch-listItemLink">Eventos - Allianz Zona Oficial - Marc M&aacute;rquez</a></h2>
                <p class="sch-description">Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...</p>
              </li>
              <li class="sch-listItem">
                <h2 class="sch-listItemTitle"><a href="#" class="sch-listItemLink">Eventos - Allianz Zona Oficial - Marc M&aacute;rquez</a></h2>
                <p class="sch-description">Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-7">
            <div class="mod_paginator pgr-search pgr-border">
              <ul class="pgr-list">
                <li class="pgr-listItem"><a href="#" title="Go to Previous Page" class="pgr-listItemLink pgr-prev pgr-disabled">Previous Page</a></li>
                <li class="pgr-listItem"><a href="#" title="Go to 1" class="pgr-listItemLink pgr-page pgr-active">1</a></li>
                <li class="pgr-listItem"><a href="#" title="Go to 2" class="pgr-listItemLink pgr-page">2</a></li>
                <li class="pgr-listItem"><a href="#" title="Go to Next Page" class="pgr-listItemLink pgr-next">Next Page</a></li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </main>
    <!-- END CONTAINER-->
    <!-- mod_footer-->
    <footer class="mod_footer">
      <div class="mod_ftr_slick">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="ftr_slk_tith2">¿Necesitas m&aacute;s informaci&oacute;n?</h2>
              <h3 class="ftr_slk_tith3">Descubre nuestros seguros</h3>
            </div>
            <div class="col-xs-12"></div>
          </div>
        </div>
        <div class="slk_productos fc_slkProduts">
          <div>
            <div class="slk_prod_item"><a href="#car" title="Productos de coches" class="slk_prod_link slk-car"><img alt="Coche" src="images/modules/mod_footer/coche-pie.png" class="slk_prod_img"/><img alt="Coche" src="images/modules/mod_footer/coche-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Coche</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#moto" title="Productos de Moto y ciclomotor" class="slk_prod_link slk-moto"><img alt="Moto" src="images/modules/mod_footer/moto-pie.png" class="slk_prod_img"/><img alt="Moto" src="images/modules/mod_footer/moto-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Moto y ciclomotor</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#home" title="Ptoductos de Hogar" class="slk_prod_link slk-home"><img alt="Hogar" src="images/modules/mod_footer/hogar-pie.png" class="slk_prod_img"/><img alt="Hogar" src="images/modules/mod_footer/hogar-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Hogar</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#salud" title="Productos de Salud" class="slk_prod_link slk-salud"><img alt="Salud" src="images/modules/mod_footer/salud-pie.png" class="slk_prod_img"/><img alt="Salud" src="images/modules/mod_footer/salud-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Salud</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#worker" title="Productos para Aut&amp;oacute;nomos" class="slk_prod_link slk-worker"><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie.png" class="slk_prod_img"/><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Aut&oacute;nomos</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#travel" title="Productos de viajes" class="slk_prod_link slk-travel"><img alt="Viajes" src="images/modules/mod_footer/viajes-pie.png" class="slk_prod_img"/><img alt="Viajes" src="images/modules/mod_footer/viajes-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Viajes</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#boat" title="Productos para Embarcaciones" class="slk_prod_link slk-boat"><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie.png" class="slk_prod_img"/><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Embarcaciones</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#life" title="Productos de Vida" class="slk_prod_link slk-life"><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie.png" class="slk_prod_img"/><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Vida</span></a></div>
          </div>
        </div>
      </div>
      <div class="mod_ftr_content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 ftr-boxName">
              <p class="ftr-name">&copy; Allianz compa&ntilde;ia de seguros</p>
            </div>
            <ul class="col-xs-12 col-lg-8 ftr-legal">
              <li class="ftr-item"><a href="#avi" title="" class="ftr-link">Aviso Legal</a></li>
              <li class="ftr-item"><a href="#pro" title="" class="ftr-link">Protecci&oacute;n de datos</a></li>
              <li class="ftr-item"><a href="#acc" title="" class="ftr-link">Accesibilidad</a></li>
              <li class="ftr-item"><a href="#pol" title="" class="ftr-link">Pol&iacute;tica de cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End mod_header-->
  </section>
</body></html>
