allianz/jade/conecta-formulario.jade
//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Conecta - Allianz Zona - Formulario",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "libs/rangeSlider/classic-min",
                        "css/datepicker.min",
                        "css/timepicker",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "libs/datepicker/lang/es",
                        "libs/datepicker/datepicker",
                        "libs/timepicker/timepicker.min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront
        h1.hideAccessible Fomulario para pedir cita con un agente
        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta",
                        active: true
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            form(class="container mod_formField",method="post",action="#")
                .row
                    .col-md-12.col-lg-3
                        a(href="#back", title="volver a todos los agentes", class="ico-back") Ver todos los agentes
                       
                    .col-xs-12.col-lg-9
                        .mod_title
                            h2.tit-title.tit-h1 Pide cita con Anna Abell&agrave;
                            //-h2.tit-description Hay 20 agentes esperando para atenderte
                .row
                    .col-lg-3.visible-lg.mod_imageList.conectForm
                        a(class="iml-listItemLink",href="#Nana",title="Ver a María Jose")
                            figure.iml-figure
                                img(src="images/content/img1.png", alt="María José Surfista")
                                figcaption.iml-description
                                    h2.iml-name María José Gutierrez de la Torre
                                    p(class="iml-btn") Conecta con María José
                    .col-xs-12.col-lg-9
                        .mod_title
                                .mt-user
                                    img(src="images/content/img2-mini.png", alt="María José Surfista", class="mt-imgUser")
                                h2.tit-title.tit-h1 Hola,
                                a(class="mt-link") Conecta con María José
                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible 01. ¿C&oacute;mo quieres que el agente conecte contigo?
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o1. 
                                | ¿C&oacute;mo quieres que el agente conecte contigo?
                            .acn-bodyForm.row
                                .col-xs-12
                                    .fmf-fieldGroupIcon
                                        input(id="phoneIn", type="checkbox", class="fmf-checkIconInput")
                                        label(for="phoneIn" class="fmf-checkIcon ico-phoneIn") Quiero que me llamen
                                    .fmf-fieldGroupIcon
                                        input(id="phoneOut", type="checkbox", class="fmf-checkIconInput")
                                        label(for="phoneOut" class="fmf-checkIcon ico-phoneOut") Quiero llamar
                                    .fmf-fieldGroupIcon
                                        input(id="skype", type="checkbox", class="fmf-checkIconInput")
                                        label(for="skype" class="fmf-checkIcon ico-skype-square") Skype
                                    .fmf-fieldGroupIcon
                                        input(id="facetime", type="checkbox", class="fmf-checkIconInput")
                                        label(for="facetime" class="fmf-checkIcon ico-facetime") Facetime
                                    .fmf-fieldGroupIcon
                                        input(id="email", type="checkbox", class="fmf-checkIconInput")
                                        label(for="email" class="fmf-checkIcon ico-email") Email
                                    .fmf-fieldGroupIcon
                                        input(id="insitu", type="checkbox", class="fmf-checkIconInput")
                                        label(for="insitu" class="fmf-checkIcon ico-insitu") Presencial
                                    .fmf-fieldGroupIcon
                                        a(class="fmf-linkIcon ico-smsInstant fc-slideLink") Mensajer&iacute;a instant&aacute;nea
                                    .fmf-smsInstant.fc-slideContent
                                        .fmf-fieldGroupIcon
                                            input(id="whatsapp", type="checkbox", class="fmf-checkIconInput")
                                            label(for="whatsapp" class="fmf-checkIcon ico-whatsapp") Whatsapp
                                        .fmf-fieldGroupIcon
                                            input(id="line", type="checkbox", class="fmf-checkIconInput")
                                            label(for="line" class="fmf-checkIcon ico-line") Line
                                        .fmf-fieldGroupIcon
                                            input(id="facebookMss", type="checkbox", class="fmf-checkIconInput")
                                            label(for="facebookMss" class="fmf-checkIcon ico-facebookMss") Facebook Messenger
                                        .fmf-fieldGroupIcon
                                            input(id="other", type="checkbox", class="fmf-checkIconInput")
                                            label(for="other" class="fmf-checkIcon ico-other") Otra

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible  02. Selecciona la fecha y la hora que m&aacute;s te convenga para nuestra reuni&oacute;n
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o2. 
                                | Selecciona la fecha y la hora que m&aacute;s te convenga para nuestra reuni&oacute;n
                            .acn-bodyForm.row
                                
                                .fmf-fieldGroup.mod_datepicker.col-xs-12.col-md-6.col-lg-6
                                    label(for="calendar01", class="fmf-label") Fecha
                                    .md-controlIcon
                                        input(id="calendar01", type="text", name="calendar01", maxlength="10", class="fc-datepicker_init fmf-field")
                                
                                .fmf-fieldGroup.mod_timepicker.col-xs-12.col-md-6.col-lg-6
                                    label(for="time01", class="fmf-label") Hora
                                    input(id="time01", type="text", name="time01", maxlength="5", class="fc-timepicker_init fmf-field fmf-timepicker")

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible 03. Indica tus datos de contacto
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o3. 
                                | Indica tus datos de contacto
                            .acn-bodyForm
                                .col-xs-12.col-md-6.col-lg-12 
                                    .fmf-fieldGroupInline.row
                                        .col-xs-12.col-md-3
                                            label(for="name", class="fmf-label fmf-inline") Nombre
                                        .col-xs-12.col-md-8
                                            input(id="name", class="fmf-field fmf-text", type="text", name="name")
                                .col-xs-12.col-md-6.col-lg-12
                                    .fmf-fieldGroupInline.row
                                        .col-xs-12.col-md-3
                                            label(for="email02", class="fmf-label") Email
                                        .col-xs-12.col-md-8  
                                            input(id="email02", class="fmf-field fmf-text", type="email", name="email")

                                .row
                                    .col-xs-12.col-md-8.fmf-aviso
                                        p Para poder avisarte ante cualquier imprevisto, por favor, facil&iacute;tanos tu tel&eacute;fono.

                                .col-xs-12.col-md-6.col-lg-12
                                    .fmf-fieldGroupInline.row
                                        .col-md-3
                                            label(for="phone01", class="fmf-label") Tel&eacute;fono
                                        .col-md-8
                                            input(id="phone01", class="fmf-field fmf-text", type="tel", name="phone") 

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible 04. ¿En qu&eacute; idioma prefieres conversar?
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o4.  
                                | ¿En qu&eacute; idioma prefieres conversar?
                            .acn-bodyForm.row
                                .fmf-checkboxGroup.col-xs-6.col-md-3.col-lg-2
                                    input.fmf-field.fmf-checkbox(type="checkbox",id="español")
                                    label.fmf-label(for="español") Español
                                .fmf-checkboxGroup.col-xs-6.col-md-3.col-lg-2
                                    input.fmf-field.fmf-checkbox(type="checkbox",id="catalan")
                                    label.fmf-label(for="catalan") Catal&aacute;n
                                .fmf-checkboxGroup.col-xs-6.col-md-3.col-lg-2
                                    input.fmf-field.fmf-checkbox(type="checkbox",id="ingles")
                                    label.fmf-label(for="ingles") Ingl&eacute;s
                                .fmf-checkboxGroup.col-xs-6.col-md-3.col-lg-2
                                    input.fmf-field.fmf-checkbox(type="checkbox",id="aleman")
                                    label.fmf-label(for="aleman") Alem&aacute;n
                                .col-md-12.col-lg-2
                                    a(href="#",class="fmf-linkShowMore", title="") Mostrar más

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible 05. ¿Eres cliente de Allianz?
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o5. 
                                | ¿Eres cliente de Allianz?
                            .acn-bodyForm
                                .row
                                    .col-xs-12.col-md-8
                                        .fmf-radioGroup
                                            input(id="yes",type="radio", name="yesOrNot", class="fmf-radio")
                                            label(for="yes", class="fmf-label-on")
                                                span.hideAccessible S&iacute;
                                        .fmf-radioGroup
                                            input(id="not",type="radio", name="yesOrNot", class="fmf-radio")
                                            label(for="not",class="fmf-label-off")
                                                span.hideAccessible No
                                .row
                                    .col-xs-12.col-md-8.fmf-aviso
                                        p Para poder avisarte ante cualquier imprevisto, por favor, facil&iacute;tanos tu tel&eacute;fono.
                                .fmf-fieldGroupInline.row
                                    .col-md-2
                                        label(for="nif", class="fmf-label") NIF
                                    .col-md-6
                                        input(id="nif", class="fmf-field fmf-text", type="text", name="nif")

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible o6. ¿Cu&acute;l es el motivo por el que deseas esta cita?
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o6. 
                                | ¿Cu&aacute;l es el motivo por el que deseas esta cita?
                            .acn-bodyForm.row
                                .col-xs-12.acn-bfList
                                    ul.listMotive
                                        li.lm-item
                                            h4.fmf-linkInfo.fc-linkMotive Me gustar&iacute;a obtener informaci&oacute;n sobre un seguro
                                            .fc-contentMotive.fmf-contentInfo
                                                .fmf-fieldGroupIcon
                                                    input(id="car01", type="checkbox", class="fmf-checkIconInput", name="car01")
                                                    label(for="car01" class="fmf-checkIcon ico-car") Coche
                                                .fmf-fieldGroupIcon
                                                    input(id="moto01", type="checkbox", class="fmf-checkIconInput", name="moto01")
                                                    label(for="moto01" class="fmf-checkIcon ico-moto") Moto y ciclomotor
                                                .fmf-fieldGroupIcon
                                                    input(id="home01", type="checkbox", class="fmf-checkIconInput", name="home01")
                                                    label(for="home01" class="fmf-checkIcon ico-home") Hogar
                                                .fmf-fieldGroupIcon
                                                    input(id="health01", type="checkbox", class="fmf-checkIconInput", name="health01")
                                                    label(for="health01" class="fmf-checkIcon ico-health") Salud
                                                .fmf-fieldGroupIcon
                                                    input(id="freelance01", type="checkbox", class="fmf-checkIconInput", name="freelance01")
                                                    label(for="freelance01" class="fmf-checkIcon ico-freelance") Aut&oacute;nomos
                                                .fmf-fieldGroupIcon
                                                    input(id="travel01", type="checkbox", class="fmf-checkIconInput", name="travel01")
                                                    label(for="travel01" class="fmf-checkIcon ico-travel") Viaje
                                                .fmf-fieldGroupIcon
                                                    input(id="accident01", type="checkbox", class="fmf-checkIconInput", name="accident01")
                                                    label(for="accident01" class="fmf-checkIcon ico-accident") Accidentes
                                                .fmf-fieldGroupIcon
                                                    input(id="boat01", type="checkbox", class="fmf-checkIconInput", name="boat01")
                                                    label(for="boat01" class="fmf-checkIcon ico-boat") Embarcaciones
                                                .fmf-fieldGroupIcon
                                                    input(id="life01", type="checkbox", class="fmf-checkIconInput", name="life01")
                                                    label(for="life01" class="fmf-checkIcon ico-life") Vida e inversi&oacute;n
                                                .fmf-fieldGroupIcon
                                                    input(id="other02", type="checkbox", class="fmf-checkIconInput", name="other02")
                                                    label(for="other02" class="fmf-checkIcon ico-other02") Otros
                                        li.lm-item
                                            input(id="changeContact", type="checkbox", name="changeContact", class="fmf-input")
                                            label(for="changeContact", class="fmf-label") Necesito modificar mis datos de contacto
                                        li.lm-item
                                            input(id="dude", type="checkbox", name="dude", class="fmf-input")
                                            label(for="dude", class="fmf-label") He tenido un siniestro y tengo dudas sobre c&oacute;mo gestionarlo
                                        li.lm-item
                                            input(id="claim", type="checkbox", name="claim", class="fmf-input")
                                            label(for="claim", class="fmf-label") Me gustar&iacute;a hacer una reclamaci&oacute;n
                                        li.lm-item
                                            input(id="otherQuestion", type="checkbox", name="otherQuestion", class="fmf-input")
                                            label(for="otherQuestion", class="fmf-label") Otro tipo de consulta

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible 07. Si te apetece, describe brevemente el detalle de su consulta para que el agente pueda ayudarte mejor
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o7. 
                                | Si te apetece, describe brevemente el detalle de su consulta para que el agente pueda ayudarte mejor
                            .acn-bodyForm.row
                                .col-xs-12.fmf-fieldGroup
                                    label(for="comment01", class="hideAccessible") Describe tu consulta
                                    textarea(id="comment01",class="fmf-field fmf-textarea") Soy autónomo, ¿qué opciones tengo para asegurar mi comercio?
                                .col-xs-12.col-md-6
                                    .mod_botonera.conectForm
                                        input(class="btn-orange", type="submit", value="enviar")

        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>

allianz/conecta-formulario.html
<!DOCTYPE html><!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Conecta - Allianz Zona - Formulario</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="css/styles-aui.css"/>
  <link rel="stylesheet" type="text/css" href="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="libs/rangeSlider/classic-min.css"/>
  <link rel="stylesheet" type="text/css" href="css/datepicker.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/timepicker.css"/>
  <link rel="stylesheet" type="text/css" href="css/general.css"/>
  <link rel="stylesheet" type="text/css" href="css/modules.css"/>
  <!-- Fin archivos CSS-->
  <!-- Archivos JS-->
  <script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="libs/slick.js"></script>
  <script type="text/javascript" src="libs/rangeSlider/jQAllRangeSliders-min.js"></script>
  <script type="text/javascript" src="libs/datepicker/lang/es.js"></script>
  <script type="text/javascript" src="libs/datepicker/datepicker.js"></script>
  <script type="text/javascript" src="libs/timepicker/timepicker.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- Fin rchivos JS-->
</head>
<body>
  <section class="dFront">
    <h1 class="hideAccessible">Fomulario para pedir cita con un agente</h1>
    <!-- mod_header-->
    <header class="mod_header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="hdr-logo"><a href="#" title="Logo Allianz" class="hdr-logoLink">
                <figure class="hdr-img"><img src="images/modules/mod_header/logo-allianz-mobile.png" alt="Logo Allianz Mobile" class="hdr-logoMobile"/><img src="images/modules/mod_header/logo-allianz.png" alt="Logo Allianz" class="hdr-logoDesktop"/>
                </figure></a></div>
            <!-- Nav menu-->
            <nav class="mod_navMenu">
              <h2 class="hideAccessible">Men&uacute; de navegaci&oacute;n</h2><a href="#" title="Desplegar menu mobile" class="nvm-mobileButton fc-menuMobile_init">Desplegar menu Mobile</a>
              <ul class="nvm-list nvm-level-1">
                <li class="nvm-listItem"><a href="#" title="Ir a Vive" class="nvm-listItemLink">Vive</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Conecta" class="nvm-listItemLink nvm-active">Conecta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Disfruta" class="nvm-listItemLink">Disfruta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Ven" class="nvm-listItemLink">Ven</a></li>
                <li class="nvm-listItem hdr-language">
                  <form method="post" action="#" class="mod_formField">
                    <label for="id-language" class="hideAccessible">Selecciona lenguaje</label>
                    <select id="id-language" class="fmf-combobox fc-combobox_init">
                      <option class="fmf-option">ES</option>
                      <option class="fmf-option">EN</option>
                      <option class="fmf-option">CAT</option>
                    </select>
                  </form>
                </li>
                <li class="nvm-listItem hdr-search">
                  <form method="post" action="#" class="mod_formField">
                    <div class="hdr-searchField mod_formField">
                      <label for="search-menu" class="hideAccessible">Buscar</label>
                      <input type="text" id="search-menu" placeholder="Buscar..." class="fmf-field fmf-text"/>
                    </div><a href="#" title="Pulsa para mostrar buscador" class="hdr-searchLink fc-searchButton_init">Pulsa para mostrar buscador</a>
                  </form>
                </li>
                <li class="nvm-listItem hdr-zone"><a href="#" title="Zona privada" class="hdr-zoneLink">Zona privada</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End mod_header-->
    <!-- CONTAINER-->
    <main class="mod-main">
      <form method="post" action="#" class="container mod_formField">
        <div class="row">
          <div class="col-md-12 col-lg-3"><a href="#back" title="volver a todos los agentes" class="ico-back">Ver todos los agentes</a></div>
          <div class="col-xs-12 col-lg-9">
            <div class="mod_title">
              <h2 class="tit-title tit-h1">Pide cita con Anna Abell&agrave;</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 visible-lg mod_imageList conectForm"><a href="#Nana" title="Ver a María Jose" class="iml-listItemLink">
              <figure class="iml-figure"><img src="images/content/img1.png" alt="María José Surfista">
                <figcaption class="iml-description">
                  <h2 class="iml-name">María José Gutierrez de la Torre</h2>
                  <p class="iml-btn">Conecta con María José</p>
                </figcaption>
              </figure></a></div>
          <div class="col-xs-12 col-lg-9">
            <div class="mod_title">
              <div class="mt-user"><img src="images/content/img2-mini.png" alt="María José Surfista" class="mt-imgUser"></div>
              <h2 class="tit-title tit-h1">Hola,</h2><a class="mt-link">Conecta con María José</a>
            </div>
            <fieldset class="fmf-fieldset mod_accordion fc-accordion_init">
              <legend class="fmf-legend hideAccessible">01. ¿C&oacute;mo quieres que el agente conecte contigo?</legend>
              <h3 class="fc-accordion_head acn-headForm"> <span class="acn-headNumber">o1. </span>¿C&oacute;mo quieres que el agente conecte contigo?</h3>
              <div class="acn-bodyForm row">
                <div class="col-xs-12">
                  <div class="fmf-fieldGroupIcon">
                    <input id="phoneIn" type="checkbox" class="fmf-checkIconInput">
                    <label for="phoneIn" class="fmf-checkIcon ico-phoneIn">Quiero que me llamen</label>
                  </div>
                  <div class="fmf-fieldGroupIcon">
                    <input id="phoneOut" type="checkbox" class="fmf-checkIconInput">
                    <label for="phoneOut" class="fmf-checkIcon ico-phoneOut">Quiero llamar</label>
                  </div>
                  <div class="fmf-fieldGroupIcon">
                    <input id="skype" type="checkbox" class="fmf-checkIconInput">
                    <label for="skype" class="fmf-checkIcon ico-skype-square">Skype</label>
                  </div>
                  <div class="fmf-fieldGroupIcon">
                    <input id="facetime" type="checkbox" class="fmf-checkIconInput">
                    <label for="facetime" class="fmf-checkIcon ico-facetime">Facetime</label>
                  </div>
                  <div class="fmf-fieldGroupIcon">
                    <input id="email" type="checkbox" class="fmf-checkIconInput">
                    <label for="email" class="fmf-checkIcon ico-email">Email</label>
                  </div>
                  <div class="fmf-fieldGroupIcon">
                    <input id="insitu" type="checkbox" class="fmf-checkIconInput">
                    <label for="insitu" class="fmf-checkIcon ico-insitu">Presencial</label>
                  </div>
                  <div class="fmf-fieldGroupIcon"><a class="fmf-linkIcon ico-smsInstant fc-slideLink">Mensajer&iacute;a instant&aacute;nea</a></div>
                  <div class="fmf-smsInstant fc-slideContent">
                    <div class="fmf-fieldGroupIcon">
                      <input id="whatsapp" type="checkbox" class="fmf-checkIconInput">
                      <label for="whatsapp" class="fmf-checkIcon ico-whatsapp">Whatsapp</label>
                    </div>
                    <div class="fmf-fieldGroupIcon">
                      <input id="line" type="checkbox" class="fmf-checkIconInput">
                      <label for="line" class="fmf-checkIcon ico-line">Line</label>
                    </div>
                    <div class="fmf-fieldGroupIcon">
                      <input id="facebookMss" type="checkbox" class="fmf-checkIconInput">
                      <label for="facebookMss" class="fmf-checkIcon ico-facebookMss">Facebook Messenger</label>
                    </div>
                    <div class="fmf-fieldGroupIcon">
                      <input id="other" type="checkbox" class="fmf-checkIconInput">
                      <label for="other" class="fmf-checkIcon ico-other">Otra</label>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="fmf-fieldset mod_accordion fc-accordion_init">
              <legend class="fmf-legend hideAccessible"> 02. Selecciona la fecha y la hora que m&aacute;s te convenga para nuestra reuni&oacute;n</legend>
              <h3 class="fc-accordion_head acn-headForm"> <span class="acn-headNumber">o2. </span>Selecciona la fecha y la hora que m&aacute;s te convenga para nuestra reuni&oacute;n</h3>
              <div class="acn-bodyForm row">
                <div class="fmf-fieldGroup mod_datepicker col-xs-12 col-md-6 col-lg-6">
                  <label for="calendar01" class="fmf-label">Fecha</label>
                  <div class="md-controlIcon">
                    <input id="calendar01" type="text" name="calendar01" maxlength="10" class="fc-datepicker_init fmf-field">
                  </div>
                </div>
                <div class="fmf-fieldGroup mod_timepicker col-xs-12 col-md-6 col-lg-6">
                  <label for="time01" class="fmf-label">Hora</label>
                  <input id="time01" type="text" name="time01" maxlength="5" class="fc-timepicker_init fmf-field fmf-timepicker">
                </div>
              </div>
            </fieldset>
            <fieldset class="fmf-fieldset mod_accordion fc-accordion_init">
              <legend class="fmf-legend hideAccessible">03. Indica tus datos de contacto</legend>
              <h3 class="fc-accordion_head acn-headForm"> <span class="acn-headNumber">o3. </span>Indica tus datos de contacto</h3>
              <div class="acn-bodyForm">
                <div class="col-xs-12 col-md-6 col-lg-12"> 
                  <div class="fmf-fieldGroupInline row">
                    <div class="col-xs-12 col-md-3">
                      <label for="name" class="fmf-label fmf-inline">Nombre</label>
                    </div>
                    <div class="col-xs-12 col-md-8">
                      <input id="name" type="text" name="name" class="fmf-field fmf-text">
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-12">
                  <div class="fmf-fieldGroupInline row">
                    <div class="col-xs-12 col-md-3">
                      <label for="email02" class="fmf-label">Email</label>
                    </div>
                    <div class="col-xs-12 col-md-8"> 
                      <input id="email02" type="email" name="email" class="fmf-field fmf-text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-8 fmf-aviso">
                    <p>Para poder avisarte ante cualquier imprevisto, por favor, facil&iacute;tanos tu tel&eacute;fono.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-12">
                  <div class="fmf-fieldGroupInline row">
                    <div class="col-md-3">
                      <label for="phone01" class="fmf-label">Tel&eacute;fono</label>
                    </div>
                    <div class="col-md-8">
                      <input id="phone01" type="tel" name="phone" class="fmf-field fmf-text">
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="fmf-fieldset mod_accordion fc-accordion_init">
              <legend class="fmf-legend hideAccessible">04. ¿En qu&eacute; idioma prefieres conversar?</legend>
              <h3 class="fc-accordion_head acn-headForm"> <span class="acn-headNumber">o4.  </span>¿En qu&eacute; idioma prefieres conversar?</h3>
              <div class="acn-bodyForm row">
                <div class="fmf-checkboxGroup col-xs-6 col-md-3 col-lg-2">
                  <input type="checkbox" id="español" class="fmf-field fmf-checkbox">
                  <label for="español" class="fmf-label">Español</label>
                </div>
                <div class="fmf-checkboxGroup col-xs-6 col-md-3 col-lg-2">
                  <input type="checkbox" id="catalan" class="fmf-field fmf-checkbox">
                  <label for="catalan" class="fmf-label">Catal&aacute;n</label>
                </div>
                <div class="fmf-checkboxGroup col-xs-6 col-md-3 col-lg-2">
                  <input type="checkbox" id="ingles" class="fmf-field fmf-checkbox">
                  <label for="ingles" class="fmf-label">Ingl&eacute;s</label>
                </div>
                <div class="fmf-checkboxGroup col-xs-6 col-md-3 col-lg-2">
                  <input type="checkbox" id="aleman" class="fmf-field fmf-checkbox">
                  <label for="aleman" class="fmf-label">Alem&aacute;n</label>
                </div>
                <div class="col-md-12 col-lg-2"><a href="#" title="" class="fmf-linkShowMore">Mostrar más</a></div>
              </div>
            </fieldset>
            <fieldset class="fmf-fieldset mod_accordion fc-accordion_init">
              <legend class="fmf-legend hideAccessible">05. ¿Eres cliente de Allianz?</legend>
              <h3 class="fc-accordion_head acn-headForm"> <span class="acn-headNumber">o5. </span>¿Eres cliente de Allianz?</h3>
              <div class="acn-bodyForm">
                <div class="row">
                  <div class="col-xs-12 col-md-8">
                    <div class="fmf-radioGroup">
                      <input id="yes" type="radio" name="yesOrNot" class="fmf-radio">
                      <label for="yes" class="fmf-label-on"><span class="hideAccessible">S&iacute;</span></label>
                    </div>
                    <div class="fmf-radioGroup">
                      <input id="not" type="radio" name="yesOrNot" class="fmf-radio">
                      <label for="not" class="fmf-label-off"><span class="hideAccessible">No</span></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-8 fmf-aviso">
                    <p>Para poder avisarte ante cualquier imprevisto, por favor, facil&iacute;tanos tu tel&eacute;fono.</p>
                  </div>
                </div>
                <div class="fmf-fieldGroupInline row">
                  <div class="col-md-2">
                    <label for="nif" class="fmf-label">NIF</label>
                  </div>
                  <div class="col-md-6">
                    <input id="nif" type="text" name="nif" class="fmf-field fmf-text">
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="fmf-fieldset mod_accordion fc-accordion_init">
              <legend class="fmf-legend hideAccessible">o6. ¿Cu&acute;l es el motivo por el que deseas esta cita?</legend>
              <h3 class="fc-accordion_head acn-headForm"> <span class="acn-headNumber">o6. </span>¿Cu&aacute;l es el motivo por el que deseas esta cita?</h3>
              <div class="acn-bodyForm row">
                <div class="col-xs-12 acn-bfList">
                  <ul class="listMotive">
                    <li class="lm-item">
                      <h4 class="fmf-linkInfo fc-linkMotive">Me gustar&iacute;a obtener informaci&oacute;n sobre un seguro</h4>
                      <div class="fc-contentMotive fmf-contentInfo">
                        <div class="fmf-fieldGroupIcon">
                          <input id="car01" type="checkbox" name="car01" class="fmf-checkIconInput">
                          <label for="car01" class="fmf-checkIcon ico-car">Coche</label>
                        </div>
                        <div class="fmf-fieldGroupIcon">
                          <input id="moto01" type="checkbox" name="moto01" class="fmf-checkIconInput">
                          <label for="moto01" class="fmf-checkIcon ico-moto">Moto y ciclomotor</label>
                        </div>
                        <div class="fmf-fieldGroupIcon">
                          <input id="home01" type="checkbox" name="home01" class="fmf-checkIconInput">
                          <label for="home01" class="fmf-checkIcon ico-home">Hogar</label>
                        </div>
                        <div class="fmf-fieldGroupIcon">
                          <input id="health01" type="checkbox" name="health01" class="fmf-checkIconInput">
                          <label for="health01" class="fmf-checkIcon ico-health">Salud</label>
                        </div>
                        <div class="fmf-fieldGroupIcon">
                          <input id="freelance01" type="checkbox" name="freelance01" class="fmf-checkIconInput">
                          <label for="freelance01" class="fmf-checkIcon ico-freelance">Aut&oacute;nomos</label>
                        </div>
                        <div class="fmf-fieldGroupIcon">
                          <input id="travel01" type="checkbox" name="travel01" class="fmf-checkIconInput">
                          <label for="travel01" class="fmf-checkIcon ico-travel">Viaje</label>
                        </div>
                        <div class="fmf-fieldGroupIcon">
                          <input id="accident01" type="checkbox" name="accident01" class="fmf-checkIconInput">
                          <label for="accident01" class="fmf-checkIcon ico-accident">Accidentes</label>
                        </div>
                        <div class="fmf-fieldGroupIcon">
                          <input id="boat01" type="checkbox" name="boat01" class="fmf-checkIconInput">
                          <label for="boat01" class="fmf-checkIcon ico-boat">Embarcaciones</label>
                        </div>
                        <div class="fmf-fieldGroupIcon">
                          <input id="life01" type="checkbox" name="life01" class="fmf-checkIconInput">
                          <label for="life01" class="fmf-checkIcon ico-life">Vida e inversi&oacute;n</label>
                        </div>
                        <div class="fmf-fieldGroupIcon">
                          <input id="other02" type="checkbox" name="other02" class="fmf-checkIconInput">
                          <label for="other02" class="fmf-checkIcon ico-other02">Otros</label>
                        </div>
                      </div>
                    </li>
                    <li class="lm-item">
                      <input id="changeContact" type="checkbox" name="changeContact" class="fmf-input">
                      <label for="changeContact" class="fmf-label">Necesito modificar mis datos de contacto</label>
                    </li>
                    <li class="lm-item">
                      <input id="dude" type="checkbox" name="dude" class="fmf-input">
                      <label for="dude" class="fmf-label">He tenido un siniestro y tengo dudas sobre c&oacute;mo gestionarlo</label>
                    </li>
                    <li class="lm-item">
                      <input id="claim" type="checkbox" name="claim" class="fmf-input">
                      <label for="claim" class="fmf-label">Me gustar&iacute;a hacer una reclamaci&oacute;n</label>
                    </li>
                    <li class="lm-item">
                      <input id="otherQuestion" type="checkbox" name="otherQuestion" class="fmf-input">
                      <label for="otherQuestion" class="fmf-label">Otro tipo de consulta</label>
                    </li>
                  </ul>
                </div>
              </div>
            </fieldset>
            <fieldset class="fmf-fieldset mod_accordion fc-accordion_init">
              <legend class="fmf-legend hideAccessible">07. Si te apetece, describe brevemente el detalle de su consulta para que el agente pueda ayudarte mejor</legend>
              <h3 class="fc-accordion_head acn-headForm"> <span class="acn-headNumber">o7. </span>Si te apetece, describe brevemente el detalle de su consulta para que el agente pueda ayudarte mejor</h3>
              <div class="acn-bodyForm row">
                <div class="col-xs-12 fmf-fieldGroup">
                  <label for="comment01" class="hideAccessible">Describe tu consulta</label>
                  <textarea id="comment01" class="fmf-field fmf-textarea">Soy autónomo, ¿qué opciones tengo para asegurar mi comercio?</textarea>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="mod_botonera conectForm">
                    <input type="submit" value="enviar" class="btn-orange">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </form>
    </main>
    <!-- END CONTAINER-->
    <!-- mod_footer-->
    <footer class="mod_footer">
      <div class="mod_ftr_slick">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="ftr_slk_tith2">¿Necesitas m&aacute;s informaci&oacute;n?</h2>
              <h3 class="ftr_slk_tith3">Descubre nuestros seguros</h3>
            </div>
            <div class="col-xs-12"></div>
          </div>
        </div>
        <div class="slk_productos fc_slkProduts">
          <div>
            <div class="slk_prod_item"><a href="#car" title="Productos de coches" class="slk_prod_link slk-car"><img alt="Coche" src="images/modules/mod_footer/coche-pie.png" class="slk_prod_img"/><img alt="Coche" src="images/modules/mod_footer/coche-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Coche</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#moto" title="Productos de Moto y ciclomotor" class="slk_prod_link slk-moto"><img alt="Moto" src="images/modules/mod_footer/moto-pie.png" class="slk_prod_img"/><img alt="Moto" src="images/modules/mod_footer/moto-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Moto y ciclomotor</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#home" title="Ptoductos de Hogar" class="slk_prod_link slk-home"><img alt="Hogar" src="images/modules/mod_footer/hogar-pie.png" class="slk_prod_img"/><img alt="Hogar" src="images/modules/mod_footer/hogar-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Hogar</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#salud" title="Productos de Salud" class="slk_prod_link slk-salud"><img alt="Salud" src="images/modules/mod_footer/salud-pie.png" class="slk_prod_img"/><img alt="Salud" src="images/modules/mod_footer/salud-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Salud</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#worker" title="Productos para Aut&amp;oacute;nomos" class="slk_prod_link slk-worker"><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie.png" class="slk_prod_img"/><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Aut&oacute;nomos</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#travel" title="Productos de viajes" class="slk_prod_link slk-travel"><img alt="Viajes" src="images/modules/mod_footer/viajes-pie.png" class="slk_prod_img"/><img alt="Viajes" src="images/modules/mod_footer/viajes-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Viajes</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#boat" title="Productos para Embarcaciones" class="slk_prod_link slk-boat"><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie.png" class="slk_prod_img"/><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Embarcaciones</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#life" title="Productos de Vida" class="slk_prod_link slk-life"><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie.png" class="slk_prod_img"/><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Vida</span></a></div>
          </div>
        </div>
      </div>
      <div class="mod_ftr_content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 ftr-boxName">
              <p class="ftr-name">&copy; Allianz compa&ntilde;ia de seguros</p>
            </div>
            <ul class="col-xs-12 col-lg-8 ftr-legal">
              <li class="ftr-item"><a href="#avi" title="" class="ftr-link">Aviso Legal</a></li>
              <li class="ftr-item"><a href="#pro" title="" class="ftr-link">Protecci&oacute;n de datos</a></li>
              <li class="ftr-item"><a href="#acc" title="" class="ftr-link">Accesibilidad</a></li>
              <li class="ftr-item"><a href="#pol" title="" class="ftr-link">Pol&iacute;tica de cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End mod_header-->
  </section>
</body></html>
