allianz/disfruta-eventoAllianz.html
<!DOCTYPE html><!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Disfruta Evento Allianz - Allianz Zona</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="css/styles-aui.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.css"/>
  <link rel="stylesheet" type="text/css" href="libs/rangeSlider/classic-min.css"/>
  <link rel="stylesheet" type="text/css" href="css/datepicker.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/general.css"/>
  <link rel="stylesheet" type="text/css" href="css/modules.css"/>
  <!-- Fin archivos CSS-->
  <!-- Archivos JS-->
  <script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="libs/slick.js"></script>
  <script type="text/javascript" src="libs/rangeSlider/jQAllRangeSliders-min.js"></script>
  <script type="text/javascript" src="libs/datepicker/lang/es.js"></script>
  <script type="text/javascript" src="libs/datepicker/datepicker.js"></script>
  <script type="text/javascript" src="libs/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- Fin rchivos JS-->
</head>
<body>
  <section class="dFront">
    <div class="mod_cookie">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-9 col-lg-offset-0">
            <p class="cok-text">Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarte publicidad relacionada con tus preferencias mediante el an&aacute;lisis de tus h&aacute;bitos de navegación. Si continuas navegando, consideramos que aceptas su uso. Puedes cambiar la configuración u &nbsp;<a title="" href="#" class="cok-bold">obtener m&aacute;s información</a></p>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-1">
            <div class="mod_botonera">
              <button type="button" class="cok-btn">Entendido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mod_header-->
    <header class="mod_header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="hdr-logo"><a href="#" title="Logo Allianz" class="hdr-logoLink">
                <figure class="hdr-img"><img src="images/modules/mod_header/logo-allianz-mobile.png" alt="Logo Allianz Mobile" class="hdr-logoMobile"/><img src="images/modules/mod_header/logo-allianz.png" alt="Logo Allianz" class="hdr-logoDesktop"/>
                </figure></a></div>
            <!-- Nav menu-->
            <nav class="mod_navMenu">
              <h2 class="hideAccessible">Men&uacute; de navegaci&oacute;n</h2><a href="#" title="Desplegar menu mobile" class="nvm-mobileButton fc-menuMobile_init">Desplegar menu Mobile</a>
              <ul class="nvm-list nvm-level-1">
                <li class="nvm-listItem"><a href="#" title="Ir a Vive" class="nvm-listItemLink">Vive</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Conecta" class="nvm-listItemLink">Conecta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Disfruta" class="nvm-listItemLink nvm-active">Disfruta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Ven" class="nvm-listItemLink">Ven</a></li>
                <li class="nvm-listItem hdr-language">
                  <form method="post" action="#" class="mod_formField">
                    <label for="id-language" class="hideAccessible">Selecciona lenguaje</label>
                    <select id="id-language" class="fmf-combobox fc-combobox_init">
                      <option class="fmf-option">ES</option>
                      <option class="fmf-option">EN</option>
                      <option class="fmf-option">CAT</option>
                    </select>
                  </form>
                </li>
                <li class="nvm-listItem hdr-search">
                  <form method="post" action="#" class="mod_formField">
                    <div class="hdr-searchField mod_formField">
                      <label for="search-menu" class="hideAccessible">Buscar</label>
                      <input type="text" id="search-menu" placeholder="Buscar..." class="fmf-field fmf-text"/>
                    </div><a href="#" title="Pulsa para mostrar buscador" class="hdr-searchLink fc-searchButton_init">Pulsa para mostrar buscador</a>
                  </form>
                </li>
                <li class="nvm-listItem hdr-zone"><a href="#" title="Zona privada" class="hdr-zoneLink">Zona privada</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End mod_header-->
    <!-- CONTAINER-->
    <main class="mod-main">
      <form method="post" action="#" class="container mod_formField">
        <div class="row">
          <div class="col-xs-12 col-lg-3"><a href="#back" title="volver a todos los agentes" class="ico-back">Ver todos los agentes</a>
            <div class="mod_banner_img brg-leftColumn">
              <ul class="brg-list">
                <li class="brg-listItem">
                  <div class="brg-left"><a href="#linkEvento" title="Enlace al evento">
                      <figure class="brg-img"><img src="images/modules/mod_banner/mark.png" alt="mark"/>
                      </figure></a></div>
                  <div class="brg-right"><a href="#title" title="Conferencia: &amp;quot;Marc Márquez &amp; Allianz&amp;quot;" class="brg-title">Conferencia: &quot;Marc Márquez & Allianz&quot;</a>
                    <div class="brg-description">
                      <p class="brg-day">18 de septiembre</p>
                      <p class="brg-hour">19:30</p>
                      <p class="brg-bottomTitles"><span class="brg-organizerTitle">ORGANIZA</span><a href="#" title="Ir a Allianz Zona" class="brg-organizerSubtitle ico-mapPoint">Allianz Zona</a>
                      </p>
                    </div>
                    <div class="mod_botonera">
                      <button type="button" data-toggle="modal" data-target="#myModal" class="btn-orange">Inscribirse al evento</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="mod_social ftl scl-spacing visible-lg">
              <ul class="scl-list">
                <li class="scl-listItem"><a href="#" title="Ir a facebook" class="scl-listItemLink scl-facebook">Ir a facebook</a></li>
                <li class="scl-listItem"><a href="#" title="Ir a twitter" class="scl-listItemLink scl-twitter">Ir a twitter</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-lg-8 col-lg-offset-1">
            <div class="mod_title tit-spacing">
              <h1 class="tit-title tit-h1">Conferencia: &quot;Marc Márquez & Allianz&quot;</h1>
            </div>
            <div class="mod_event">
              <p class="evt-content evt-spacing">Zona Allianz es un espacio en el que podrás interactuar y estar a la última sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Reúnete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposición.<span class="evt-content">¿Te has comprado una moto? ¿Acabas de alquilar un piso? Desde nuestra sucursal digital podemos solventar todas las dudas que tengas sobre lo que necesitas para asegurar tu día a día. Y lo mejor es que no tienes que desplazarte: pide cita y habla con uno de nuestros agentes a través de Skype, Whatsapp… O si lo deseas, te atenderemos en un espacio exclusivo para clientes en nuestra Zona Allianz.</span></p>
              <figure class="evt-img"><img src="images/content/mark.png"></figure>
              <p class="evt-content evt-spacing">Zona Allianz es un espacio en el que podrás interactuar y estar a la última sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Reúnete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposición.</p>
              <p class="evt-content evt-title">PONENTES</p>
              <ul class="evt-list">
                <li class="evt-listItem"><span class="evt-listItemLink">Marc Márquez</span></li>
                <li class="evt-listItem"><span class="evt-listItemLink">Guillem Camprodon</span></li>
                <li class="evt-listItem"><span class="evt-listItemLink">Anna Gabriel</span></li>
                <li class="evt-listItem"><span class="evt-listItemLink">Pablo Garrido</span></li>
                <li class="evt-listItem"><span class="evt-listItemLink">Sigfried Sepúlveda</span></li>
              </ul>
              <div class="mod_social ftl scl-spacing visible-md visible-sm visible-xs">
                <ul class="scl-list">
                  <li class="scl-listItem"><a href="#" title="Ir a facebook" class="scl-listItemLink scl-facebook">Ir a facebook</a></li>
                  <li class="scl-listItem"><a href="#" title="Ir a twitter" class="scl-listItemLink scl-twitter">Ir a twitter</a></li>
                </ul>
              </div>
              <div class="mod_botonera btn-border mod_modal"><a href="#" title="Click para descargarse el programa" class="evt-link">Descargarse el programa</a>
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn-orange">Inscribirse al evento</button>
                <!-- Modal-->
                <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
                  <div role="document" class="modal-dialog">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">Cerrar Modal</button>
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="mod_title">
                          <h3 class="tit-title tit-h1 modal-title">Conferencia: "Marc M&aacute;rquez & Allianz"</h3>
                        </div>
                      </div>
                      <div class="modal-body">
                        <fieldset class="fmf-fieldset mod_accordion ui-accordion">
                          <legend class="fmf-legend hideAccessible">01. Indica tus datos de contacto</legend>
                          <h3 class="fc-accordion_head acn-headForm"><span class="acn-headNumber">o1.&nbsp;</span>Indica tus datos de contacto</h3>
                          <div class="acn-bodyForm">
                            <div class="row">
                              <div class="fmf-fieldGroupInline col-xs-12 col-md-5 col-lg-12">
                                <div class="row">
                                  <div class="col-xs-12 col-lg-2">
                                    <label for="name" class="fmf-label fmf-inline">Nombre</label>
                                  </div>
                                  <div class="col-xs-12 col-lg-6">
                                    <input id="name" type="text" name="name" class="fmf-field fmf-text">
                                  </div>
                                </div>
                              </div>
                              <div class="fmf-fieldGroupInline col-xs-12 col-md-5 col-lg-12">
                                <div class="row">
                                  <div class="col-xs-12 col-lg-2">
                                    <label for="email02" class="fmf-label">Email</label>
                                  </div>
                                  <div class="col-xs-12 col-lg-6">
                                    <input id="email02" type="email" name="email" class="fmf-field fmf-text">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12 fmf-aviso">
                                <p>Te pedimos, por favor, que seas puntual para poder cumplir con las actividades previstas y que aproveches al máximo la charla de Marc Márquez.</p>
                              </div>
                            </div>
                            <div class="fmf-fieldGroupInline row">
                              <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-3 col-lg-offset-0">
                                <div class="fmf-swich frmN-fila">
                                  <input id="idSiNo" type="checkbox" name="onoffswitch" class="fmf-swich-checkbox">
                                  <label for="idSiNo" class="fmf-swich-label"><span class="fmf-swich-inner"></span><span class="fmf-swich-switch"></span></label>
                                  <p class="fmf-swich_text">Estoy de acuerdo con la&nbsp;<a href="#ni" title="Pol&amp;iacute;tica de Privacidad" class="fmf-swich_link">Política de Privacidad</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div class="modal-footer">
                        <div class="mod_botonera">
                          <button type="button" data-dismiss="modal" class="btn-orange">Enviar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <!-- END CONTAINER-->
    <!-- mod_footer-->
    <footer class="mod_footer">
      <div class="mod_ftr_slick">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="ftr_slk_tith2">¿Necesitas m&aacute;s informaci&oacute;n?</h2>
              <h3 class="ftr_slk_tith3">Descubre nuestros seguros</h3>
            </div>
            <div class="col-xs-12"></div>
          </div>
        </div>
        <div class="slk_productos fc_slkProduts">
          <div>
            <div class="slk_prod_item"><a href="#car" title="Productos de coches" class="slk_prod_link slk-car"><img alt="Coche" src="images/modules/mod_footer/coche-pie.png" class="slk_prod_img"/><img alt="Coche" src="images/modules/mod_footer/coche-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Coche</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#moto" title="Productos de Moto y ciclomotor" class="slk_prod_link slk-moto"><img alt="Moto" src="images/modules/mod_footer/moto-pie.png" class="slk_prod_img"/><img alt="Moto" src="images/modules/mod_footer/moto-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Moto y ciclomotor</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#home" title="Ptoductos de Hogar" class="slk_prod_link slk-home"><img alt="Hogar" src="images/modules/mod_footer/hogar-pie.png" class="slk_prod_img"/><img alt="Hogar" src="images/modules/mod_footer/hogar-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Hogar</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#salud" title="Productos de Salud" class="slk_prod_link slk-salud"><img alt="Salud" src="images/modules/mod_footer/salud-pie.png" class="slk_prod_img"/><img alt="Salud" src="images/modules/mod_footer/salud-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Salud</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#worker" title="Productos para Aut&amp;oacute;nomos" class="slk_prod_link slk-worker"><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie.png" class="slk_prod_img"/><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Aut&oacute;nomos</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#travel" title="Productos de viajes" class="slk_prod_link slk-travel"><img alt="Viajes" src="images/modules/mod_footer/viajes-pie.png" class="slk_prod_img"/><img alt="Viajes" src="images/modules/mod_footer/viajes-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Viajes</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#boat" title="Productos para Embarcaciones" class="slk_prod_link slk-boat"><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie.png" class="slk_prod_img"/><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Embarcaciones</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#life" title="Productos de Vida" class="slk_prod_link slk-life"><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie.png" class="slk_prod_img"/><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Vida</span></a></div>
          </div>
        </div>
      </div>
      <div class="mod_ftr_content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 ftr-boxName">
              <p class="ftr-name">&copy; Allianz compa&ntilde;ia de seguros</p>
            </div>
            <ul class="col-xs-12 col-lg-8 ftr-legal">
              <li class="ftr-item"><a href="#avi" title="" class="ftr-link">Aviso Legal</a></li>
              <li class="ftr-item"><a href="#pro" title="" class="ftr-link">Protecci&oacute;n de datos</a></li>
              <li class="ftr-item"><a href="#acc" title="" class="ftr-link">Accesibilidad</a></li>
              <li class="ftr-item"><a href="#pol" title="" class="ftr-link">Pol&iacute;tica de cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End mod_header-->
  </section>
</body></html>

allianz/jade/disfruta-eventoAllianz.jade
//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter
include modules/_mod_banner
include modules/_mod_paginator
include modules/_mod_social

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
+m-headBuilder({
                    title:"Disfruta Evento Allianz - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "css/bootstrap",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/rangeSlider/classic-min",
                        "css/datepicker.min",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "libs/datepicker/lang/es",
                        "libs/datepicker/datepicker",
                        "libs/bootstrap.min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta",
                        active: true
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            form(class="container mod_formField",method="post",action="#")
                .row
                    .col-xs-12.col-lg-3
                        a(href="#back", title="volver a todos los agentes", class="ico-back") Ver todos los agentes
                        +mod_banner_img({
                            brgLeftColumn: true,
                            items: [
                                {
                                    img: "mark",
                                    day: "18 de septiembre",
                                    hour: "19:30",
                                    organizerTitle: "ORGANIZA",
                                    organizerSubtitleLink: "Allianz Zona",
                                    title: "Conferencia: &quot;Marc Márquez & Allianz&quot;",
                                    subtitle: "Una charla sobre como optimizar los procesos para ser  más competitivo y cómo las nuevas tecn...",
                                    btnContent: "Inscribirse al evento",
                                    btnModal: true
                                }
                            ]
                        })
                        +mod_social({
                            cssClass:"ftl scl-spacing visible-lg",
                            items:[
                                {
                                    content: "facebook"
                                },
                                {
                                    content: "twitter"
                                }
                            ]
                        })
                    .col-xs-12.col-lg-8.col-lg-offset-1
                        .mod_title.tit-spacing
                            h1.tit-title.tit-h1 Conferencia: &quot;Marc Márquez & Allianz&quot;
                        .mod_event
                            p.evt-content.evt-spacing Zona Allianz es un espacio en el que podrás interactuar y estar a la última sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Reúnete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposición.
                                span.evt-content ¿Te has comprado una moto? ¿Acabas de alquilar un piso? Desde nuestra sucursal digital podemos solventar todas las dudas que tengas sobre lo que necesitas para asegurar tu día a día. Y lo mejor es que no tienes que desplazarte: pide cita y habla con uno de nuestros agentes a través de Skype, Whatsapp… O si lo deseas, te atenderemos en un espacio exclusivo para clientes en nuestra Zona Allianz.
                            figure.evt-img
                                img(src="images/content/mark.png")
                            p.evt-content.evt-spacing Zona Allianz es un espacio en el que podrás interactuar y estar a la última sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Reúnete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposición.
                            p.evt-content.evt-title PONENTES
                            ul.evt-list
                                li.evt-listItem
                                    span.evt-listItemLink Marc Márquez
                                li.evt-listItem
                                    span.evt-listItemLink Guillem Camprodon
                                li.evt-listItem
                                    span.evt-listItemLink Anna Gabriel
                                li.evt-listItem
                                    span.evt-listItemLink Pablo Garrido
                                li.evt-listItem
                                    span.evt-listItemLink Sigfried Sepúlveda

                            +mod_social({
                                cssClass:"ftl scl-spacing visible-md visible-sm visible-xs",
                                items:[
                                    {
                                        content: "facebook"
                                    },
                                    {
                                        content: "twitter"
                                    }
                                ]
                            })
                            .mod_botonera.btn-border.mod_modal
                                a(href="#", class="evt-link", title="Click para descargarse el programa") Descargarse el programa
                                button.btn-orange(type='button', data-toggle='modal', data-target='#myModal') Inscribirse al evento
                                // Modal
                                #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                                    .modal-dialog(role='document')
                                        button.close(type='button', data-dismiss='modal', aria-label='Close') Cerrar Modal
                                        .modal-content
                                            .modal-header
                                                .mod_title
                                                    h3.tit-title.tit-h1.modal-title Conferencia: "Marc M&aacute;rquez & Allianz"
                                            .modal-body
                                                fieldset.fmf-fieldset.mod_accordion.ui-accordion
                                                    legend.fmf-legend.hideAccessible 01. Indica tus datos de contacto
                                                    h3.fc-accordion_head.acn-headForm
                                                        span.acn-headNumber o1.&nbsp;
                                                        | Indica tus datos de contacto
                                                    .acn-bodyForm
                                                        .row
                                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                                .row
                                                                    .col-xs-12.col-lg-2
                                                                        label(for="name", class="fmf-label fmf-inline") Nombre
                                                                    .col-xs-12.col-lg-6
                                                                        input(id="name", class="fmf-field fmf-text", type="text", name="name")
                                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                                .row
                                                                    .col-xs-12.col-lg-2
                                                                        label(for="email02", class="fmf-label") Email
                                                                    .col-xs-12.col-lg-6
                                                                        input(id="email02", class="fmf-field fmf-text", type="email", name="email")

                                                        .row
                                                            .col-xs-12.fmf-aviso
                                                                p Te pedimos, por favor, que seas puntual para poder cumplir con las actividades previstas y que aproveches al máximo la charla de Marc Márquez.

                                                        .fmf-fieldGroupInline.row
                                                            .col-xs-12.col-sm-8.col-sm-offset-2.col-md-7.col-md-offset-3.col-lg-offset-0
                                                                .fmf-swich.frmN-fila
                                                                    input#idSiNo.fmf-swich-checkbox(type="checkbox", name="onoffswitch")
                                                                    label.fmf-swich-label(for='idSiNo')
                                                                        span.fmf-swich-inner
                                                                        span.fmf-swich-switch
                                                                    p.fmf-swich_text
                                                                        | Estoy de acuerdo con la&nbsp;
                                                                        a.fmf-swich_link(href='#ni', title='Pol&iacute;tica de Privacidad') Política de Privacidad

                                            .modal-footer
                                                .mod_botonera
                                                    button.btn-orange(type="button", data-dismiss="modal") Enviar


        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>
