allianz/jade/error404.jade
//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter
include modules/_mod_banner
include modules/_mod_paginator
include modules/_mod_social

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
+m-headBuilder({
                    title:"Error 404 - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "libs/rangeSlider/classic-min",
                        "css/datepicker.min",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "libs/datepicker/lang/es",
                        "libs/datepicker/datepicker",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront
        h1.hideAccessible P&aacute;gina de error
        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta",
                        active: true
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            .mod_error
                .container
                    .row
                        .col-xs-12
                            .err-box
                                .err-left

                                .err-right

                                .err-message
                                    p.err-title Oops!
                                    p.err-description La p&aacute;gina que est&aacute;s buscando no puede ser encontrada
                                    .mod_botonera
                                        a(href="#ni", class="btn-orange", title="Pulsa para volver a la página principal") Volver a inicio


        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>

allianz/error404.html
<!DOCTYPE html><!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Error 404 - Allianz Zona</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="css/styles-aui.css"/>
  <link rel="stylesheet" type="text/css" href="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="libs/rangeSlider/classic-min.css"/>
  <link rel="stylesheet" type="text/css" href="css/datepicker.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/general.css"/>
  <link rel="stylesheet" type="text/css" href="css/modules.css"/>
  <!-- Fin archivos CSS-->
  <!-- Archivos JS-->
  <script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="libs/slick.js"></script>
  <script type="text/javascript" src="libs/rangeSlider/jQAllRangeSliders-min.js"></script>
  <script type="text/javascript" src="libs/datepicker/lang/es.js"></script>
  <script type="text/javascript" src="libs/datepicker/datepicker.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- Fin rchivos JS-->
</head>
<body>
  <section class="dFront">
    <h1 class="hideAccessible">P&aacute;gina de error</h1>
    <div class="mod_cookie">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-9 col-lg-offset-0">
            <p class="cok-text">Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarte publicidad relacionada con tus preferencias mediante el an&aacute;lisis de tus h&aacute;bitos de navegación. Si continuas navegando, consideramos que aceptas su uso. Puedes cambiar la configuración u &nbsp;<a title="" href="#" class="cok-bold">obtener m&aacute;s información</a></p>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-1">
            <div class="mod_botonera">
              <button type="button" class="cok-btn">Entendido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mod_header-->
    <header class="mod_header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="hdr-logo"><a href="#" title="Logo Allianz" class="hdr-logoLink">
                <figure class="hdr-img"><img src="images/modules/mod_header/logo-allianz-mobile.png" alt="Logo Allianz Mobile" class="hdr-logoMobile"/><img src="images/modules/mod_header/logo-allianz.png" alt="Logo Allianz" class="hdr-logoDesktop"/>
                </figure></a></div>
            <!-- Nav menu-->
            <nav class="mod_navMenu">
              <h2 class="hideAccessible">Men&uacute; de navegaci&oacute;n</h2><a href="#" title="Desplegar menu mobile" class="nvm-mobileButton fc-menuMobile_init">Desplegar menu Mobile</a>
              <ul class="nvm-list nvm-level-1">
                <li class="nvm-listItem"><a href="#" title="Ir a Vive" class="nvm-listItemLink">Vive</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Conecta" class="nvm-listItemLink">Conecta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Disfruta" class="nvm-listItemLink nvm-active">Disfruta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Ven" class="nvm-listItemLink">Ven</a></li>
                <li class="nvm-listItem hdr-language">
                  <form method="post" action="#" class="mod_formField">
                    <label for="id-language" class="hideAccessible">Selecciona lenguaje</label>
                    <select id="id-language" class="fmf-combobox fc-combobox_init">
                      <option class="fmf-option">ES</option>
                      <option class="fmf-option">EN</option>
                      <option class="fmf-option">CAT</option>
                    </select>
                  </form>
                </li>
                <li class="nvm-listItem hdr-search">
                  <form method="post" action="#" class="mod_formField">
                    <div class="hdr-searchField mod_formField">
                      <label for="search-menu" class="hideAccessible">Buscar</label>
                      <input type="text" id="search-menu" placeholder="Buscar..." class="fmf-field fmf-text"/>
                    </div><a href="#" title="Pulsa para mostrar buscador" class="hdr-searchLink fc-searchButton_init">Pulsa para mostrar buscador</a>
                  </form>
                </li>
                <li class="nvm-listItem hdr-zone"><a href="#" title="Zona privada" class="hdr-zoneLink">Zona privada</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End mod_header-->
    <!-- CONTAINER-->
    <main class="mod-main">
      <div class="mod_error">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="err-box">
                <div class="err-left"></div>
                <div class="err-right"></div>
                <div class="err-message">
                  <p class="err-title">Oops!</p>
                  <p class="err-description">La p&aacute;gina que est&aacute;s buscando no puede ser encontrada</p>
                  <div class="mod_botonera"><a href="#ni" title="Pulsa para volver a la página principal" class="btn-orange">Volver a inicio</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- END CONTAINER-->
    <!-- mod_footer-->
    <footer class="mod_footer">
      <div class="mod_ftr_slick">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="ftr_slk_tith2">¿Necesitas m&aacute;s informaci&oacute;n?</h2>
              <h3 class="ftr_slk_tith3">Descubre nuestros seguros</h3>
            </div>
            <div class="col-xs-12"></div>
          </div>
        </div>
        <div class="slk_productos fc_slkProduts">
          <div>
            <div class="slk_prod_item"><a href="#car" title="Productos de coches" class="slk_prod_link slk-car"><img alt="Coche" src="images/modules/mod_footer/coche-pie.png" class="slk_prod_img"/><img alt="Coche" src="images/modules/mod_footer/coche-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Coche</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#moto" title="Productos de Moto y ciclomotor" class="slk_prod_link slk-moto"><img alt="Moto" src="images/modules/mod_footer/moto-pie.png" class="slk_prod_img"/><img alt="Moto" src="images/modules/mod_footer/moto-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Moto y ciclomotor</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#home" title="Ptoductos de Hogar" class="slk_prod_link slk-home"><img alt="Hogar" src="images/modules/mod_footer/hogar-pie.png" class="slk_prod_img"/><img alt="Hogar" src="images/modules/mod_footer/hogar-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Hogar</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#salud" title="Productos de Salud" class="slk_prod_link slk-salud"><img alt="Salud" src="images/modules/mod_footer/salud-pie.png" class="slk_prod_img"/><img alt="Salud" src="images/modules/mod_footer/salud-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Salud</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#worker" title="Productos para Aut&amp;oacute;nomos" class="slk_prod_link slk-worker"><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie.png" class="slk_prod_img"/><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Aut&oacute;nomos</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#travel" title="Productos de viajes" class="slk_prod_link slk-travel"><img alt="Viajes" src="images/modules/mod_footer/viajes-pie.png" class="slk_prod_img"/><img alt="Viajes" src="images/modules/mod_footer/viajes-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Viajes</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#boat" title="Productos para Embarcaciones" class="slk_prod_link slk-boat"><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie.png" class="slk_prod_img"/><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Embarcaciones</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#life" title="Productos de Vida" class="slk_prod_link slk-life"><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie.png" class="slk_prod_img"/><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Vida</span></a></div>
          </div>
        </div>
      </div>
      <div class="mod_ftr_content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 ftr-boxName">
              <p class="ftr-name">&copy; Allianz compa&ntilde;ia de seguros</p>
            </div>
            <ul class="col-xs-12 col-lg-8 ftr-legal">
              <li class="ftr-item"><a href="#avi" title="" class="ftr-link">Aviso Legal</a></li>
              <li class="ftr-item"><a href="#pro" title="" class="ftr-link">Protecci&oacute;n de datos</a></li>
              <li class="ftr-item"><a href="#acc" title="" class="ftr-link">Accesibilidad</a></li>
              <li class="ftr-item"><a href="#pol" title="" class="ftr-link">Pol&iacute;tica de cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End mod_header-->
  </section>
</body></html>
