allianz/ficha-agente.html
<!DOCTYPE html><!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Ficha agente - Allianz Zona</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="css/styles-aui.css"/>
  <link rel="stylesheet" type="text/css" href="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="libs/rangeSlider/classic-min.css"/>
  <link rel="stylesheet" type="text/css" href="css/general.css"/>
  <link rel="stylesheet" type="text/css" href="css/modules.css"/>
  <!-- Fin archivos CSS-->
  <!-- Archivos JS-->
  <script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="libs/slick.js"></script>
  <script type="text/javascript" src="libs/rangeSlider/jQAllRangeSliders-min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- Fin rchivos JS-->
</head>
<body>
  <section class="dFront">
    <h1 class="hideAccessible">Ficha de agente - Allianz Zona</h1>
    <div class="mod_cookie">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-9 col-lg-offset-0">
            <p class="cok-text">Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarte publicidad relacionada con tus preferencias mediante el an&aacute;lisis de tus h&aacute;bitos de navegación. Si continuas navegando, consideramos que aceptas su uso. Puedes cambiar la configuración u &nbsp;<a title="" href="#" class="cok-bold">obtener m&aacute;s información</a></p>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-1">
            <div class="mod_botonera">
              <button type="button" class="cok-btn">Entendido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mod_header-->
    <header class="mod_header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="hdr-logo"><a href="#" title="Logo Allianz" class="hdr-logoLink">
                <figure class="hdr-img"><img src="images/modules/mod_header/logo-allianz-mobile.png" alt="Logo Allianz Mobile" class="hdr-logoMobile"/><img src="images/modules/mod_header/logo-allianz.png" alt="Logo Allianz" class="hdr-logoDesktop"/>
                </figure></a></div>
            <!-- Nav menu-->
            <nav class="mod_navMenu">
              <h2 class="hideAccessible">Men&uacute; de navegaci&oacute;n</h2><a href="#" title="Desplegar menu mobile" class="nvm-mobileButton fc-menuMobile_init">Desplegar menu Mobile</a>
              <ul class="nvm-list nvm-level-1">
                <li class="nvm-listItem"><a href="#" title="Ir a Vive" class="nvm-listItemLink">Vive</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Conecta" class="nvm-listItemLink">Conecta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Disfruta" class="nvm-listItemLink">Disfruta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Ven" class="nvm-listItemLink">Ven</a></li>
                <li class="nvm-listItem hdr-language">
                  <form method="post" action="#" class="mod_formField">
                    <label for="id-language" class="hideAccessible">Selecciona lenguaje</label>
                    <select id="id-language" class="fmf-combobox fc-combobox_init">
                      <option class="fmf-option">ES</option>
                      <option class="fmf-option">EN</option>
                      <option class="fmf-option">CAT</option>
                    </select>
                  </form>
                </li>
                <li class="nvm-listItem hdr-search">
                  <form method="post" action="#" class="mod_formField">
                    <div class="hdr-searchField mod_formField">
                      <label for="search-menu" class="hideAccessible">Buscar</label>
                      <input type="text" id="search-menu" placeholder="Buscar..." class="fmf-field fmf-text"/>
                    </div><a href="#" title="Pulsa para mostrar buscador" class="hdr-searchLink fc-searchButton_init">Pulsa para mostrar buscador</a>
                  </form>
                </li>
                <li class="nvm-listItem hdr-zone"><a href="#" title="Zona privada" class="hdr-zoneLink">Zona privada</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End mod_header-->
    <!-- CONTAINER-->
    <main class="mod-main">
      <div class="mod_fichaGente">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="fcg-personal"><a title="Volver atras y ver todos los agentes" href="#" class="fcg-back ico-back ico-white">Ver todos los agentes</a>
                <figure class="fcg-img"><img src="images/content/thumbnail1.png" alt="Anna Abella Gutierrez"></figure>
                <h1 class="fcg-title">Anna Abella Gutierrez</h1>
                <h2 class="fcg-description">Amante de los animales y surfista</h2>
                <div class="mod_botonera"><a href="#" title="Pulsa para conectar con Anna" class="btn-orange ico-conecta">Conecta con Anna</a></div>
                <ul class="fcg-list">
                  <li class="fcg-listItem">
                    <p class="fcg-listItemText"><span class="fcg-listItemTitle">Edad</span><span class="fcg-listItemDescription">38</span></p>
                  </li>
                  <li class="fcg-listItem">
                    <p class="fcg-listItemText"><span class="fcg-listItemTitle">Hijos</span><span class="fcg-listItemDescription ico-ok">OK</span></p>
                  </li>
                  <li class="fcg-listItem">
                    <p class="fcg-listItemText"><span class="fcg-listItemTitle">Aficiones</span><span class="fcg-listItemDescription">Deporte / Cine / Gastronomía</span></p>
                  </li>
                  <li class="fcg-listItem">
                    <p class="fcg-listItemText"><span class="fcg-listItemTitle">Mascotas</span><span class="fcg-listItemDescription ico-dog">Dog</span></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mod_fichaDatos fcd-spacing">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-6">
              <div class="fcd-box">
                <div class="fcd-head">
                  <h3 class="fcd-headTitle">Sobre m&iacute;</h3>
                </div>
                <div class="fcd-body">
                  <p class="fcd-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                  <p class="fcd-language">Te puedo atender en: Español - Ingl&eacute;s<span>Catal&aacute;n - Alem&aacute;n</span></p>
                  <p class="fcd-horary">12:00 - 18:00 - De lunes a viernes<span>Fines de semana</span></p>
                  <div class="mod_social scl-spacing">
                    <ul class="scl-list">
                      <li class="scl-listItem"><a href="#" title="Ir a facebook" class="scl-listItemLink scl-facebook">Ir a facebook</a></li>
                      <li class="scl-listItem"><a href="#" title="Ir a twitter" class="scl-listItemLink scl-twitter">Ir a twitter</a></li>
                      <li class="scl-listItem"><a href="#" title="Ir a google +" class="scl-listItemLink scl-google">Ir a google +</a></li>
                      <li class="scl-listItem"><a href="#" title="Ir a linkedin" class="scl-listItemLink scl-linkedin">Ir a linkedin</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-6">
              <div class="fcd-box fcd-video">
                <div class="fcd-head">
                  <h3 class="fcd-headTitle">Video</h3>
                </div>
                <div class="fcd-body"><a href="#" title="Enlace a video" class="fcd-link">
                    <figure><img src="images/content/allianzArena-stadium.jpg" alt="Allianz Arena Stadium">
                      <figcaption class="ico-playB">Video</figcaption>
                    </figure></a></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="fcd-box fcd-interes">
                <div class="fcd-head">
                  <h3 class="fcd-headTitle">Datos de inter&eacute;s</h3>
                </div>
                <div class="fcd-body">
                  <p class="fcd-content ico-telephone"><span class="fcd-telephones-number">934 213 145 - 657 432 456</span><span class="fcd-ico-contact"><span class="fcd-ico-video"><span class="hideAccessible"></span><img src="images/modules/icons/ico-video-orange.png" class="fcd-ico-img"></span><span class="fcd-ico-whatsapp"><span class="hideAccessible"></span><img src="images/modules/icons/ico-whatsapp-orange.png" class="fcd-ico-img"></span></span></p>
                  <p class="fcd-content ico-mail"><a href="#" title="Mail Maria Gutierrez">maria.gutierrez@alianzmed.es</a><span class="fcd-separator">&nbsp;//&nbsp;</span><a href="#" title="Mail Maria Gutierrez 2">maria.gutierrez_2@allianzmed.es</a></p>
                  <p class="fcd-content ico-skype">ma.gutierrez</p>
                  <div class="mod_botonera"><a href="#" title="Pulsa para conectar con Anna" class="btn-orange ico-conecta">Conecta con Anna</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-lg-4">
              <div class="fcd-box">
                <div class="fcd-head fcd-arrow">
                  <h3 class="fcd-headTitle">Puntos fuertes</h3>
                </div>
                <div class="fcd-body">
                  <p class="fcd-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&nbsp;<span class="fcd-strong">Aenean commodo ligula eget dolor. Aenean massa.&nbsp;</span>Cum sociis natoque penatibus et magnis.</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="fcd-box">
                <div class="fcd-head fcd-arrow">
                  <h3 class="fcd-headTitle">Te interesa</h3>
                </div>
                <div class="fcd-body">
                  <p class="fcd-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&nbsp;<span class="fcd-strong">Aenean commodo ligula eget dolor. Aenean massa.&nbsp;</span>Cum sociis natoque penatibus et magnis.</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="fcd-box">
                <div class="fcd-head fcd-arrow">
                  <h3 class="fcd-headTitle">Te aconsejamos</h3>
                </div>
                <div class="fcd-body">
                  <p class="fcd-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&nbsp;<span class="fcd-strong">Aenean commodo ligula eget dolor. Aenean massa.&nbsp;</span>Cum sociis natoque penatibus et magnis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- END CONTAINER-->
    <!-- mod_footer-->
    <footer class="mod_footer">
      <div class="mod_ftr_slick">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="ftr_slk_tith2">¿Necesitas m&aacute;s informaci&oacute;n?</h2>
              <h3 class="ftr_slk_tith3">Descubre nuestros seguros</h3>
            </div>
            <div class="col-xs-12"></div>
          </div>
        </div>
        <div class="slk_productos fc_slkProduts">
          <div>
            <div class="slk_prod_item"><a href="#car" title="Productos de coches" class="slk_prod_link slk-car"><img alt="Coche" src="images/modules/mod_footer/coche-pie.png" class="slk_prod_img"/><img alt="Coche" src="images/modules/mod_footer/coche-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Coche</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#moto" title="Productos de Moto y ciclomotor" class="slk_prod_link slk-moto"><img alt="Moto" src="images/modules/mod_footer/moto-pie.png" class="slk_prod_img"/><img alt="Moto" src="images/modules/mod_footer/moto-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Moto y ciclomotor</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#home" title="Ptoductos de Hogar" class="slk_prod_link slk-home"><img alt="Hogar" src="images/modules/mod_footer/hogar-pie.png" class="slk_prod_img"/><img alt="Hogar" src="images/modules/mod_footer/hogar-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Hogar</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#salud" title="Productos de Salud" class="slk_prod_link slk-salud"><img alt="Salud" src="images/modules/mod_footer/salud-pie.png" class="slk_prod_img"/><img alt="Salud" src="images/modules/mod_footer/salud-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Salud</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#worker" title="Productos para Aut&amp;oacute;nomos" class="slk_prod_link slk-worker"><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie.png" class="slk_prod_img"/><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Aut&oacute;nomos</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#travel" title="Productos de viajes" class="slk_prod_link slk-travel"><img alt="Viajes" src="images/modules/mod_footer/viajes-pie.png" class="slk_prod_img"/><img alt="Viajes" src="images/modules/mod_footer/viajes-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Viajes</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#boat" title="Productos para Embarcaciones" class="slk_prod_link slk-boat"><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie.png" class="slk_prod_img"/><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Embarcaciones</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#life" title="Productos de Vida" class="slk_prod_link slk-life"><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie.png" class="slk_prod_img"/><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Vida</span></a></div>
          </div>
        </div>
      </div>
      <div class="mod_ftr_content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 ftr-boxName">
              <p class="ftr-name">&copy; Allianz compa&ntilde;ia de seguros</p>
            </div>
            <ul class="col-xs-12 col-lg-8 ftr-legal">
              <li class="ftr-item"><a href="#avi" title="" class="ftr-link">Aviso Legal</a></li>
              <li class="ftr-item"><a href="#pro" title="" class="ftr-link">Protecci&oacute;n de datos</a></li>
              <li class="ftr-item"><a href="#acc" title="" class="ftr-link">Accesibilidad</a></li>
              <li class="ftr-item"><a href="#pol" title="" class="ftr-link">Pol&iacute;tica de cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End mod_header-->
  </section>
</body></html>

allianz/jade/ficha-agente.jade
//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter

include modules/_mod_social

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Ficha agente - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    },
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "libs/rangeSlider/classic-min",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront
        h1.hideAccessible!= "Ficha de agente - Allianz Zona"
        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            .mod_fichaGente
                div.container
                    .row
                        .col-xs-12
                            .fcg-personal
                                a(class="fcg-back ico-back ico-white", title="Volver atras y ver todos los agentes", href="#") Ver todos los agentes
                                figure.fcg-img
                                    img(src=globals.imgPath+"/content/thumbnail1.png", alt="Anna Abella Gutierrez")
                                h1.fcg-title Anna Abella Gutierrez
                                h2.fcg-description Amante de los animales y surfista
                                .mod_botonera
                                    a(class="btn-orange ico-conecta",href="#", title="Pulsa para conectar con Anna") Conecta con Anna
                                ul.fcg-list
                                    li.fcg-listItem
                                        p.fcg-listItemText
                                            span.fcg-listItemTitle Edad
                                            span.fcg-listItemDescription 38
                                    li.fcg-listItem
                                        p.fcg-listItemText
                                            span.fcg-listItemTitle Hijos
                                            span.fcg-listItemDescription.ico-ok OK
                                    li.fcg-listItem
                                        p.fcg-listItemText
                                            span.fcg-listItemTitle Aficiones
                                            span.fcg-listItemDescription Deporte / Cine / Gastronomía
                                    li.fcg-listItem
                                        p.fcg-listItemText
                                            span.fcg-listItemTitle Mascotas
                                            span.fcg-listItemDescription.ico-dog Dog
            .mod_fichaDatos.fcd-spacing
                div.container
                    .row
                        .col-xs-12.col-lg-6
                            div.fcd-box
                                div.fcd-head
                                    h3.fcd-headTitle Sobre m&iacute;
                                div.fcd-body
                                    p.fcd-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                    p.fcd-language Te puedo atender en: Español - Ingl&eacute;s
                                        span Catal&aacute;n - Alem&aacute;n
                                    p.fcd-horary 12:00 - 18:00 - De lunes a viernes
                                        span Fines de semana
                                    +mod_social({
                                        cssClass:"scl-spacing",
                                        items:[
                                            {
                                                content: "facebook"
                                            },
                                            {
                                                content: "twitter"
                                            },
                                            {
                                                content: "google +",
                                                icoClass: "scl-google"
                                            },
                                            {
                                                content: "linkedin"
                                            }
                                        ]
                                    })


                        .col-xs-12.col-lg-6
                            div.fcd-box.fcd-video
                                div.fcd-head
                                    h3.fcd-headTitle Video
                                div.fcd-body
                                    a.fcd-link(href="#", title="Enlace a video")
                                        figure
                                            img(src="images/content/allianzArena-stadium.jpg",alt="Allianz Arena Stadium")
                                            figcaption.ico-playB Video

                    .row
                        .col-xs-12
                            div.fcd-box.fcd-interes
                                div.fcd-head
                                    h3.fcd-headTitle Datos de inter&eacute;s
                                div.fcd-body
                                    p.fcd-content.ico-telephone
                                        span.fcd-telephones-number 934 213 145 - 657 432 456
                                        span.fcd-ico-contact
                                            span.fcd-ico-video
                                                span.hideAccessible
                                                img(class="fcd-ico-img", src="images/modules/icons/ico-video-orange.png")
                                            span.fcd-ico-whatsapp
                                                span.hideAccessible
                                                img(class="fcd-ico-img", src="images/modules/icons/ico-whatsapp-orange.png")
                                    p.fcd-content.ico-mail
                                        a(href="#",title="Mail Maria Gutierrez") maria.gutierrez@alianzmed.es
                                        span.fcd-separator &nbsp;//&nbsp;
                                        a(href="#",title="Mail Maria Gutierrez 2") maria.gutierrez_2@allianzmed.es
                                    p.fcd-content.ico-skype ma.gutierrez
                                    .mod_botonera
                                        a(class="btn-orange ico-conecta",href="#", title="Pulsa para conectar con Anna") Conecta con Anna
                    .row
                        .col-xs-12.col-lg-4
                            div.fcd-box
                                div.fcd-head.fcd-arrow
                                    h3.fcd-headTitle Puntos fuertes
                                div.fcd-body
                                    p.fcd-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&nbsp;
                                        span.fcd-strong Aenean commodo ligula eget dolor. Aenean massa.&nbsp;
                                        | Cum sociis natoque penatibus et magnis.
                        .col-xs-12.col-lg-4
                            div.fcd-box
                                div.fcd-head.fcd-arrow
                                    h3.fcd-headTitle Te interesa
                                div.fcd-body
                                    p.fcd-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&nbsp;
                                        span.fcd-strong Aenean commodo ligula eget dolor. Aenean massa.&nbsp;
                                        | Cum sociis natoque penatibus et magnis.
                        .col-xs-12.col-lg-4
                            div.fcd-box
                                div.fcd-head.fcd-arrow
                                    h3.fcd-headTitle Te aconsejamos
                                div.fcd-body
                                    p.fcd-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&nbsp;
                                        span.fcd-strong Aenean commodo ligula eget dolor. Aenean massa.&nbsp;
                                        | Cum sociis natoque penatibus et magnis.


        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>
