allianz/home.html
<!DOCTYPE html><!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Home - Allianz Zona</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="css/styles-aui.css"/>
  <link rel="stylesheet" type="text/css" href="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/general.css"/>
  <link rel="stylesheet" type="text/css" href="css/modules.css"/>
  <!-- Fin archivos CSS-->
  <!-- Archivos JS-->
  <script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="libs/jquery.mobile.custom/jquery.mobile.custom.min.js"></script>
  <script type="text/javascript" src="libs/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="libs/slick.js"></script>
  <script type="text/javascript" src="libs/rangeSlider/jQAllRangeSliders-min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- Fin rchivos JS-->
</head>
<body>
  <section class="dFront">
    <div class="mod_cookie">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-9 col-lg-offset-0">
            <p class="cok-text">Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarte publicidad relacionada con tus preferencias mediante el an&aacute;lisis de tus h&aacute;bitos de navegación. Si continuas navegando, consideramos que aceptas su uso. Puedes cambiar la configuración u &nbsp;<a title="" href="#" class="cok-bold">obtener m&aacute;s información</a></p>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-1">
            <div class="mod_botonera">
              <button type="button" class="cok-btn">Entendido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mod_header-->
    <header class="mod_header hdr-home">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="hdr-logo"><a href="#" title="Logo Allianz" class="hdr-logoLink">
                <figure class="hdr-img"><img src="images/modules/mod_header/logo-allianz-mobile.png" alt="Logo Allianz Mobile" class="hdr-logoMobile"/><img src="images/modules/mod_header/logo-allianzHome.png" alt="Logo Allianz" class="hdr-logoDesktop"/>
                </figure></a></div>
            <!-- Nav menu-->
            <nav class="mod_navMenu">
              <h2 class="hideAccessible">Men&uacute; de navegaci&oacute;n</h2><a href="#" title="Desplegar menu mobile" class="nvm-mobileButton fc-menuMobile_init">Desplegar menu Mobile</a>
              <ul class="nvm-list nvm-level-1">
                <li class="nvm-listItem"><a href="#" title="Ir a Vive" class="nvm-listItemLink">Vive</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Conecta" class="nvm-listItemLink">Conecta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Disfruta" class="nvm-listItemLink">Disfruta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Ven" class="nvm-listItemLink">Ven</a></li>
                <li class="nvm-listItem hdr-language">
                  <form method="post" action="#" class="mod_formField">
                    <label for="id-language" class="hideAccessible">Selecciona lenguaje</label>
                    <select id="id-language" class="fmf-combobox fc-combobox_init">
                      <option class="fmf-option">ES</option>
                      <option class="fmf-option">EN</option>
                      <option class="fmf-option">CAT</option>
                    </select>
                  </form>
                </li>
                <li class="nvm-listItem hdr-search">
                  <form method="post" action="#" class="mod_formField">
                    <div class="hdr-searchField mod_formField">
                      <label for="search-menu" class="hideAccessible">Buscar</label>
                      <input type="text" id="search-menu" placeholder="Buscar..." class="fmf-field fmf-text"/>
                    </div><a href="#" title="Pulsa para mostrar buscador" class="hdr-searchLink fc-searchButton_init">Pulsa para mostrar buscador</a>
                  </form>
                </li>
                <li class="nvm-listItem hdr-zone"><a href="#" title="Zona privada" class="hdr-zoneLink">Zona privada</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End mod_header-->
    <!-- CONTAINER-->
    <main class="mod-main min-home">
      <div class="mod-homeRow1">
        <div class="hr1-content">
          <div class="container">
            <div class="row">
              <div class="mod-banner col-sm-12">
                <h1 class="bnr-txt"><span>Descubre todo lo que <span class="extraBold">Allianz <span class="bold">puede hacer por ti en Barcelona</span></span></span></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mod-homeRow1Tap"></div>
      <div class="mod-homeRow2">
        <div class="hr2-content">
          <div class="row">
            <div class="mod-banner col-sm-12">
              <div class="mod-sliderCenter fc-sliderCenter">
                <button type="button" data-role="none" aria-label="Previous" class="sdrC-btnP">Previous</button>
                <ul>
                  <li> 
                    <div class="sdrC-content_item">
                      <div class="sdrC-content_txt">
                        <p class="sdrC-content_titule">Rihanna Loud Tour llega a Barcelona 2</p>
                        <div class="mod_banner_img">
                          <figure class="brg-imgUser"><img src="images/content/thumbnail1.png" alt="Anna">
                            <figcaption class="brg-userDescription">
                              <div class="brg-name">Anna Abellà Sáez</div>
                              <div class="brg-agent">Tu agente digital te recomienda:</div>
                            </figcaption>
                          </figure>
                          <div class="brg-descriptionText">"Un evento imprescindible para los amantes de la m&uacute;sica pop"</div>
                        </div>
                        <div class="sdrC-date">
                          <p class="sdrC-dateText">20/10/2015 - 20:00 h</p>
                          <p class="sdrC-siteText">Palau Sant Jordi</p>
                          <div class="mod_botonera"><a class="btn-orange ico-conecta">Conoce más</a></div>
                        </div>
                      </div>
                      <div class="sdrC-content_img"><img src="images/content/img-carrusel-01.png" alt="desc" class="sdrC-img"></div>
                    </div>
                  </li>
                  <li class="sdrC-content_center"> 
                    <div class="sdrC-content_item">
                      <div class="sdrC-content_txt">
                        <p class="sdrC-content_titule">Rihanna Loud Tour llega a Barcelona</p>
                        <div class="mod_banner_img">
                          <figure class="brg-imgUser"><img src="images/content/thumbnail1.png" alt="Anna">
                            <figcaption class="brg-userDescription">
                              <div class="brg-name">Anna Abellà Sáez</div>
                              <div class="brg-agent">Tu agente digital te recomienda:</div>
                            </figcaption>
                          </figure>
                          <div class="brg-descriptionText">"Un evento imprescindible para los amantes de la m&uacute;sica pop"</div>
                        </div>
                        <div class="sdrC-date">
                          <p class="sdrC-dateText">20/10/2015 - 20:00 h</p>
                          <p class="sdrC-siteText">Palau Sant Jordi</p>
                          <div class="mod_botonera"><a class="btn-orange ico-conecta">Conoce más</a></div>
                        </div>
                      </div>
                      <div class="sdrC-content_img"><img src="images/content/img-carrusel-02.png" alt="desc" class="sdrC-img"></div>
                    </div>
                  </li>
                  <li> 
                    <div class="sdrC-content_item">
                      <div class="sdrC-content_txt">
                        <p class="sdrC-content_titule">Rihanna Loud Tour llega a Barcelona</p>
                      </div>
                      <div class="sdrC-content_img"><img src="images/content/img-carrusel-03.png" alt="desc" class="sdrC-img"></div>
                    </div>
                  </li>
                  <li> 
                    <div class="sdrC-content_item">
                      <div class="sdrC-content_txt">
                        <p class="sdrC-content_titule">Rihanna Loud Tour llega a Barcelona</p>
                      </div>
                      <div class="sdrC-content_img"><img src="images/content/img-carrusel-01.png" alt="desc" class="sdrC-img"></div>
                    </div>
                  </li>
                  <li> 
                    <div class="sdrC-content_item">
                      <div class="sdrC-content_txt">
                        <p class="sdrC-content_titule">Rihanna Loud Tour llega a Barcelona</p>
                      </div>
                      <div class="sdrC-content_img"><img src="images/content/img-carrusel-02.png" alt="desc" class="sdrC-img"></div>
                    </div>
                  </li>
                  <li> 
                    <div class="sdrC-content_item">
                      <div class="sdrC-content_txt">
                        <p class="sdrC-content_titule">Rihanna Loud Tour llega a Barcelona</p>
                      </div>
                      <div class="sdrC-content_img"><img src="images/content/img-carrusel-03.png" alt="desc" class="sdrC-img"></div>
                    </div>
                  </li>
                  <li> 
                    <div class="sdrC-content_item">
                      <div class="sdrC-content_txt">
                        <p class="sdrC-content_titule">Rihanna Loud Tour llega a Barcelona</p>
                      </div>
                      <div class="sdrC-content_img"><img src="images/content/img-carrusel-01.png" alt="desc" class="sdrC-img"></div>
                    </div>
                  </li>
                  <li> 
                    <div class="sdrC-content_item">
                      <div class="sdrC-content_txt">
                        <p class="sdrC-content_titule">Rihanna Loud Tour llega a Barcelona</p>
                      </div>
                      <div class="sdrC-content_img"><img src="images/content/img-carrusel-02.png" alt="desc" class="sdrC-img"></div>
                    </div>
                  </li>
                </ul>
                <button type="button" data-role="none" aria-label="Next" class="sdrC-btnN">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mod-homeRow2Tap"></div>
      <div class="mod-homeRow3">
        <div class="hr3-content">
          <div class="mod-sliderFade fc-sliderFade">
            <div>
              <div class="slf-content">
                <div class="row">
                  <div class="slf-content-L col-sm-12 col-md-6 col-lg-5">
                    <div class="slf-groupParraf">
                      <p class="slf-title">"Acabo de alquilar mi primer piso1"</p>
                      <p class="slf-parraf"><span>Resuelve tus dudas en un momento. </span><span>Lorem ipsum dolor amet, ipsum tramp sip</span></p>
                      <div class="mod_botonera"><a href="#ni" title="Conecta con un agente" class="btn-orange icoBtnGlobo">Conecta con un agente</a></div>
                    </div>
                  </div>
                  <div class="slf-content-R col-md-6 col-lg-7">
                    <div class="row"><img src="images/modules/mod_slider/imgSliderFade01.png" alt="desc" class="slf-img"></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="slf-content">
                <div class="row">
                  <div class="slf-content-L col-sm-12 col-md-6 col-lg-5">
                    <div class="slf-groupParraf">
                      <p class="slf-title">"Acabo de alquilar mi primer piso2"</p>
                      <p class="slf-parraf"><span>Resuelve tus dudas en un momento. </span><span>Lorem ipsum dolor amet, ipsum tramp sip</span></p>
                      <div class="mod_botonera"><a href="#ni" title="Conecta con un agente" class="btn-orange icoBtnGlobo">Conecta con un agente</a></div>
                    </div>
                  </div>
                  <div class="slf-content-R col-md-6 col-lg-7">
                    <div class="row"><img src="images/modules/mod_slider/imgSliderFade01.png" alt="desc" class="slf-img"></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="slf-content">
                <div class="row">
                  <div class="slf-content-L col-sm-12 col-md-6 col-lg-5">
                    <div class="slf-groupParraf">
                      <p class="slf-title">"Acabo de alquilar mi primer piso3"</p>
                      <p class="slf-parraf"><span>Resuelve tus dudas en un momento. </span><span>Lorem ipsum dolor amet, ipsum tramp sip</span></p>
                      <div class="mod_botonera"><a href="#ni" title="Conecta con un agente" class="btn-orange icoBtnGlobo">Conecta con un agente</a></div>
                    </div>
                  </div>
                  <div class="slf-content-R col-md-6 col-lg-7">
                    <div class="row"><img src="images/modules/mod_slider/imgSliderFade01.png" alt="desc" class="slf-img"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mod-homeRow3Tap"></div>
      <div class="mod-homeRow4">
        <div class="hr4-content">
          <div class="mod-tiempo tpo-01">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-lg-9">
                  <form id="formNewsletter" method="GET" action="#" class="mod-formNews mod_formField">
                    <fieldset>
                      <legend class="frmN-legend"><span class="frmN-subtit">Ap&uacute;ntate a nuestra</span><span class="frmN-tit">Newsletter</span></legend>
                      <p class="frmN-parrafo">¿Quieres estar al corriente de las actividades en Allianz Zona?</p>
                      <div class="row">
                        <div class="col-xs-12 col-md-7 col-md-offset-1">
                          <label for="idEmail" class="hideAccessible">E-mail</label>
                          <input id="idEmail" type="email" value="" placeholder="E-mail" class="frmN-input frmN-fila">
                          <div class="fmf-swich frmN-fila">
                            <input id="idSiNo" type="checkbox" name="onoffswitch" checked="" class="fmf-swich-checkbox">
                            <label for="idSiNo" class="fmf-swich-label"><span class="fmf-swich-inner"></span><span class="fmf-swich-switch"></span></label>
                            <p class="fmf-swich_text">Estoy de acuerdo con la <a href="#ni" title="Pol&amp;iacute;tica de Privacidad" class="fmf-swich_link">Pol&iacute;tica de Privacidad</a></p>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                          <div class="mod_botonera frmN-fila"><a href="#ni" title="Enviar" class="btn-orange">Enviar</a></div>
                        </div>
                        <div class="col-xs-12 col-md-10 col-md-offset-1 frmN-fila"></div>
                      </div>
                    </fieldset>
                  </form>
                </div>
                <div class="col-lg-3 hidden-md">
                  <div class="tpo-content">
                    <p class="tpo-ciudad"> <span>Barcelona</span></p>
                    <p class="tpo-tempMin"> <span>m&iacute;n.<span class="tpo-tempNumber">13</span><span class="tpo-simbol">&deg;</span></span></p>
                    <p class="tpo-tempMax"><span>m&aacute;x.<span class="tpo-tempNumber bold">23</span><span class="tpo-simbol bold">&deg;</span></span></p>
                    <p class="tpo-fecha"><span>Lunes, 20 octubre 2015</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- END CONTAINER-->
    <!-- mod_footer-->
    <footer class="mod_footer">
      <div class="mod_ftr_slick">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="ftr_slk_tith2">¿Necesitas m&aacute;s informaci&oacute;n?</h2>
              <h3 class="ftr_slk_tith3">Descubre nuestros seguros</h3>
            </div>
            <div class="col-xs-12"></div>
          </div>
        </div>
        <div class="slk_productos fc_slkProduts">
          <div>
            <div class="slk_prod_item"><a href="#car" title="Productos de coches" class="slk_prod_link slk-car"><img alt="Coche" src="images/modules/mod_footer/coche-pie.png" class="slk_prod_img"/><img alt="Coche" src="images/modules/mod_footer/coche-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Coche</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#moto" title="Productos de Moto y ciclomotor" class="slk_prod_link slk-moto"><img alt="Moto" src="images/modules/mod_footer/moto-pie.png" class="slk_prod_img"/><img alt="Moto" src="images/modules/mod_footer/moto-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Moto y ciclomotor</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#home" title="Ptoductos de Hogar" class="slk_prod_link slk-home"><img alt="Hogar" src="images/modules/mod_footer/hogar-pie.png" class="slk_prod_img"/><img alt="Hogar" src="images/modules/mod_footer/hogar-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Hogar</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#salud" title="Productos de Salud" class="slk_prod_link slk-salud"><img alt="Salud" src="images/modules/mod_footer/salud-pie.png" class="slk_prod_img"/><img alt="Salud" src="images/modules/mod_footer/salud-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Salud</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#worker" title="Productos para Aut&amp;oacute;nomos" class="slk_prod_link slk-worker"><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie.png" class="slk_prod_img"/><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Aut&oacute;nomos</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#travel" title="Productos de viajes" class="slk_prod_link slk-travel"><img alt="Viajes" src="images/modules/mod_footer/viajes-pie.png" class="slk_prod_img"/><img alt="Viajes" src="images/modules/mod_footer/viajes-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Viajes</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#boat" title="Productos para Embarcaciones" class="slk_prod_link slk-boat"><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie.png" class="slk_prod_img"/><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Embarcaciones</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#life" title="Productos de Vida" class="slk_prod_link slk-life"><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie.png" class="slk_prod_img"/><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Vida</span></a></div>
          </div>
        </div>
      </div>
      <div class="mod_ftr_content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 ftr-boxName">
              <p class="ftr-name">&copy; Allianz compa&ntilde;ia de seguros</p>
            </div>
            <ul class="col-xs-12 col-lg-8 ftr-legal">
              <li class="ftr-item"><a href="#avi" title="" class="ftr-link">Aviso Legal</a></li>
              <li class="ftr-item"><a href="#pro" title="" class="ftr-link">Protecci&oacute;n de datos</a></li>
              <li class="ftr-item"><a href="#acc" title="" class="ftr-link">Accesibilidad</a></li>
              <li class="ftr-item"><a href="#pol" title="" class="ftr-link">Pol&iacute;tica de cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End mod_header-->
  </section>
</body></html>

allianz/jade/home.jade
//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Home - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/jquery.mobile.custom/jquery.mobile.custom.min",
                        "libs/jquery.ui.touch-punch.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            isHome:true,
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main.min-home
            .mod-homeRow1
                .hr1-content
                    .container
                        .row
                            .mod-banner.col-sm-12
                                h1.bnr-txt
                                    span Descubre todo lo que 
                                        span.extraBold Allianz 
                                            span.bold puede hacer por ti en Barcelona
            .mod-homeRow1Tap
            .mod-homeRow2
                .hr2-content
                    .row
                        .mod-banner.col-sm-12
                            .mod-sliderCenter.fc-sliderCenter
                                button.sdrC-btnP(type="button", data-role="none", aria-label="Previous") Previous
                                ul
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona 2

                                                div.mod_banner_img
                                                    figure.brg-imgUser
                                                        img(src="images/content/thumbnail1.png",alt="Anna")
                                                        figcaption.brg-userDescription
                                                            .brg-name Anna Abellà Sáez
                                                            .brg-agent Tu agente digital te recomienda:
                                                    .brg-descriptionText "Un evento imprescindible para los amantes de la m&uacute;sica pop"
                                                .sdrC-date
                                                    p.sdrC-dateText 20/10/2015 - 20:00 h
                                                    p.sdrC-siteText Palau Sant Jordi
                                                    .mod_botonera
                                                        a.btn-orange.ico-conecta Conoce más
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-01.png", alt="desc")
                                    li.sdrC-content_center 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona

                                                div.mod_banner_img
                                                    figure.brg-imgUser
                                                        img(src="images/content/thumbnail1.png",alt="Anna")
                                                        figcaption.brg-userDescription
                                                            .brg-name Anna Abellà Sáez
                                                            .brg-agent Tu agente digital te recomienda:
                                                    .brg-descriptionText "Un evento imprescindible para los amantes de la m&uacute;sica pop"
                                                .sdrC-date
                                                    p.sdrC-dateText 20/10/2015 - 20:00 h
                                                    p.sdrC-siteText Palau Sant Jordi
                                                    .mod_botonera
                                                        a.btn-orange.ico-conecta Conoce más
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-02.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-03.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-01.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-02.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-03.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-01.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-02.png", alt="desc")
                                button.sdrC-btnN(type="button", data-role="none", aria-label="Next") Next


            .mod-homeRow2Tap
            .mod-homeRow3
                .hr3-content
                    .mod-sliderFade.fc-sliderFade
                        div
                            .slf-content
                               .row
                                    .slf-content-L.col-sm-12.col-md-6.col-lg-5
                                        .slf-groupParraf
                                            p.slf-title "Acabo de alquilar mi primer piso1"
                                            p.slf-parraf
                                                span Resuelve tus dudas en un momento. 
                                                span Lorem ipsum dolor amet, ipsum tramp sip
                                            .mod_botonera
                                                a.btn-orange.icoBtnGlobo(href="#ni", title="Conecta con un agente") Conecta con un agente
                                    .slf-content-R.col-md-6.col-lg-7
                                        .row
                                            img.slf-img(src=globals.imgPath+"/modules/mod_slider/imgSliderFade01.png", alt="desc")
                        div
                            .slf-content
                               .row
                                    .slf-content-L.col-sm-12.col-md-6.col-lg-5
                                        .slf-groupParraf
                                            p.slf-title "Acabo de alquilar mi primer piso2"
                                            p.slf-parraf
                                                span Resuelve tus dudas en un momento. 
                                                span Lorem ipsum dolor amet, ipsum tramp sip
                                            .mod_botonera
                                                a.btn-orange.icoBtnGlobo(href="#ni", title="Conecta con un agente") Conecta con un agente
                                    .slf-content-R.col-md-6.col-lg-7
                                        .row
                                            img.slf-img(src=globals.imgPath+"/modules/mod_slider/imgSliderFade01.png", alt="desc")
                        div
                            .slf-content
                               .row
                                    .slf-content-L.col-sm-12.col-md-6.col-lg-5
                                        .slf-groupParraf
                                            p.slf-title "Acabo de alquilar mi primer piso3"
                                            p.slf-parraf
                                                span Resuelve tus dudas en un momento. 
                                                span Lorem ipsum dolor amet, ipsum tramp sip
                                            .mod_botonera
                                                a.btn-orange.icoBtnGlobo(href="#ni", title="Conecta con un agente") Conecta con un agente
                                    .slf-content-R.col-md-6.col-lg-7
                                        .row
                                            img.slf-img(src=globals.imgPath+"/modules/mod_slider/imgSliderFade01.png", alt="desc")
            .mod-homeRow3Tap
            .mod-homeRow4
                .hr4-content
                    .mod-tiempo.tpo-01
                        .container
                            .row
                                .col-sm-12.col-lg-9
                                    form.mod-formNews.mod_formField(id="formNewsletter", method="GET",action="#")
                                        fieldset
                                            legend.frmN-legend
                                                span.frmN-subtit Ap&uacute;ntate a nuestra
                                                span.frmN-tit Newsletter

                                            p.frmN-parrafo ¿Quieres estar al corriente de las actividades en Allianz Zona?
                                            .row
                                                .col-xs-12.col-md-7.col-md-offset-1
                                                    label.hideAccessible(for="idEmail") E-mail
                                                    input.frmN-input.frmN-fila(id="idEmail", type="email" value="", placeholder="E-mail")

                                                    .fmf-swich.frmN-fila
                                                        input#idSiNo.fmf-swich-checkbox(type='checkbox', name='onoffswitch', checked='')
                                                        label.fmf-swich-label(for='idSiNo')
                                                            span.fmf-swich-inner
                                                            span.fmf-swich-switch
                                                        p.fmf-swich_text Estoy de acuerdo con la 
                                                            a.fmf-swich_link(href="#ni", title="Pol&iacute;tica de Privacidad") Pol&iacute;tica de Privacidad
                                                .col-xs-12.col-md-3
                                                    .mod_botonera.frmN-fila
                                                        a.btn-orange(href="#ni", title="Enviar") Enviar
                                                .col-xs-12.col-md-10.col-md-offset-1.frmN-fila
                                                    

                                .col-lg-3.hidden-md
                                    .tpo-content
                                        p.tpo-ciudad 
                                            span Barcelona
                                        p.tpo-tempMin 
                                            span m&iacute;n.
                                                span.tpo-tempNumber 13
                                                span.tpo-simbol &deg;
                                        p.tpo-tempMax
                                            span m&aacute;x.
                                                span.tpo-tempNumber.bold 23
                                                span.tpo-simbol.bold &deg;
                                        p.tpo-fecha
                                            span Lunes, 20 octubre 2015
            
        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>
