allianz/ven.html
<!DOCTYPE html><!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Ven - Allianz Zona</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="css/styles-aui.css"/>
  <link rel="stylesheet" type="text/css" href="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/general.css"/>
  <link rel="stylesheet" type="text/css" href="css/modules.css"/>
  <!-- Fin archivos CSS-->
  <!-- Archivos JS-->
  <script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="libs/jquery.mobile.custom/jquery.mobile.custom.min.js"></script>
  <script type="text/javascript" src="libs/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="libs/slick.js"></script>
  <script type="text/javascript" src="libs/rangeSlider/jQAllRangeSliders-min.js"></script>
  <script type="text/javascript" src="libs/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- Fin rchivos JS-->
</head>
<body>
  <section class="dFront">
    <h1 class="hideAccessible">Allianz - Ven</h1>
    <div class="mod_cookie">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-9 col-lg-offset-0">
            <p class="cok-text">Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarte publicidad relacionada con tus preferencias mediante el an&aacute;lisis de tus h&aacute;bitos de navegación. Si continuas navegando, consideramos que aceptas su uso. Puedes cambiar la configuración u &nbsp;<a title="" href="#" class="cok-bold">obtener m&aacute;s información</a></p>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-1">
            <div class="mod_botonera">
              <button type="button" class="cok-btn">Entendido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mod_header-->
    <header class="mod_header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="hdr-logo"><a href="#" title="Logo Allianz" class="hdr-logoLink">
                <figure class="hdr-img"><img src="images/modules/mod_header/logo-allianz-mobile.png" alt="Logo Allianz Mobile" class="hdr-logoMobile"/><img src="images/modules/mod_header/logo-allianz.png" alt="Logo Allianz" class="hdr-logoDesktop"/>
                </figure></a></div>
            <!-- Nav menu-->
            <nav class="mod_navMenu">
              <h2 class="hideAccessible">Men&uacute; de navegaci&oacute;n</h2><a href="#" title="Desplegar menu mobile" class="nvm-mobileButton fc-menuMobile_init">Desplegar menu Mobile</a>
              <ul class="nvm-list nvm-level-1">
                <li class="nvm-listItem"><a href="#" title="Ir a Vive" class="nvm-listItemLink">Vive</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Conecta" class="nvm-listItemLink">Conecta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Disfruta" class="nvm-listItemLink">Disfruta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Ven" class="nvm-listItemLink nvm-active">Ven</a></li>
                <li class="nvm-listItem hdr-language">
                  <form method="post" action="#" class="mod_formField">
                    <label for="id-language" class="hideAccessible">Selecciona lenguaje</label>
                    <select id="id-language" class="fmf-combobox fc-combobox_init">
                      <option class="fmf-option">ES</option>
                      <option class="fmf-option">EN</option>
                      <option class="fmf-option">CAT</option>
                    </select>
                  </form>
                </li>
                <li class="nvm-listItem hdr-search">
                  <form method="post" action="#" class="mod_formField">
                    <div class="hdr-searchField mod_formField">
                      <label for="search-menu" class="hideAccessible">Buscar</label>
                      <input type="text" id="search-menu" placeholder="Buscar..." class="fmf-field fmf-text"/>
                    </div><a href="#" title="Pulsa para mostrar buscador" class="hdr-searchLink fc-searchButton_init">Pulsa para mostrar buscador</a>
                  </form>
                </li>
                <li class="nvm-listItem hdr-zone"><a href="#" title="Zona privada" class="hdr-zoneLink">Zona privada</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End mod_header-->
    <!-- CONTAINER-->
    <main class="mod-main min-home">
      <div class="mod-homeRow1 mod-homeRow1_XL">
        <div class="hr1-content">
          <div class="container">
            <div class="row">
              <div class="mod-banner col-sm-12">
                <h2 class="bnr-txt"><span class="extraBold">&iquest;Qu&eacute; es Allianz Zona? </span></h2>
                <!--a.bnr-link.ico_play(href="#ni", target="", title="") Ejecutar video--><a href="#" data-toggle="modal" data-target="#myModalPlay" class="bnr-link ico_play"></a><a href="#ni" title="" class="bnr-link ico_downPage fc-downPage visible-lg">Bajar al contenido</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mod-homeRow1Tap"></div>
      <div class="mod-homeRow5">
        <div class="hr4-content">
          <div class="mod-generalContent">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-lg-7">
                  <div class="mod-parrafo gct-content">
                    <p class="pfo-tit">&iquest;Qu&eacute; es Allianz Zona?</p>
                    <p class="pfo-text">Allianz Zona es un espacio en el que podr&aacute;s interactuar y estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposici&oacute;n.</p>
                    <p class="pfo-text">Allianz Zona es un espacio en el que podr&aacute;s interactuar y estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposici&oacute;n.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-lg-4 col-lg-offset-1 mod_banner_info gct-content visible-lg">
                  <div class="bni-content"> 
                    <p class="bni-title">&iquest;Quieres organizar un evento en nuestra Zona Allianz?</p>
                    <p class="bni-text">Ponte en contacto con nosotros</p>
                    <div class="mod_botonera btn-center">
                      <!--a.btn-orange(href="#ni", title="") Contacta con nosotros--><a href="#" data-toggle="modal" data-target="#myModal" class="btn-orange">Contacta con nosotros</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 mod-sliderFadeImg fc-sliderFade">
              <div>
                <div class="slf-content">
                  <div class="row">
                    <div class="slf-content col-md-12">
                      <div class="row"><img src="images/content/ven-img-01.png" alt="desc" class="slf-img"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="slf-content">
                  <div class="row">
                    <div class="slf-content col-md-12">
                      <div class="row"><img src="images/content/ven-img-02.png" alt="desc" class="slf-img"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="slf-content">
                  <div class="row">
                    <div class="slf-content col-md-12">
                      <div class="row"><img src="images/content/ven-img-01.png" alt="desc" class="slf-img"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mod_banner_info gct-content visible-md visible-sm visible-xs">
              <div class="bni-content"> 
                <p class="bni-title">&iquest;Quieres organizar un evento en nuestra Zona Allianz?</p>
                <p class="bni-text">Ponte en contacto con nosotros</p>
                <div class="mod_botonera btn-center"><a href="#" type="button" data-toggle="modal" data-target="#myModal" class="btn-orange">Contacta con nosotros</a></div>
              </div>
            </div>
            <div class="mod_mapa fc-mapa gct-content">
              <div class="map-parrafo">
                <div class="container">
                  <div class="row">
                    <div class="map-parrafo-box">
                      <p class="map-tit">&iquest;A qu&eacute; esperas para visitarnos? </p>
                      <p class="map-text"> <span>Nos encontrar&aacute;s en </span><span>Carrer carrer, n&uacute;mero A (080AA) </span><span>Barcelona</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="map-iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3037.6349277003014!2d-3.7061871842501026!3d40.4169376135501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1452533988506" width="1600" height="515" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
              <form method="post" action="#" class="mod-formNews fc-filter_showHide mod_formField">
                <fieldset>
                  <legend class="frmN-legend"><span class="frmN-subtit">Ap&uacute;ntate a nuestra</span><span class="frmN-tit">Newsletter</span></legend>
                  <p class="frmN-parrafo">&iquest;Quieres estar al corriente de las actividades en Allianz Zona?</p>
                  <div class="row">
                    <div class="col-xs-12 col-md-7 col-md-offset-1">
                      <label for="idEmail" class="hideAccessible">E-mail</label>
                      <input id="idEmail" type="email" value="" placeholder="E-mail" class="frmN-input frmN-fila">
                      <div class="fmf-swich frmN-fila">
                        <input id="idSiNo" type="checkbox" name="onoffswitch" checked="" class="fmf-swich-checkbox">
                        <label for="idSiNo" class="fmf-swich-label"><span class="fmf-swich-inner"></span><span class="fmf-swich-switch"></span></label>
                        <p class="fmf-swich_text">Estoy de acuerdo con la&nbsp;<a href="#ni" title="Pol&amp;iacute;tica de Privacidad" class="fmf-swich_link">Pol&iacute;tica de Privacidad</a></p>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                      <div class="mod_botonera frmN-fila"><a href="#ni" title="Enviar" class="btn-orange">Enviar</a></div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- END CONTAINER-->
    <!-- mod_footer-->
    <footer class="mod_footer">
      <div class="mod_ftr_slick">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="ftr_slk_tith2">¿Necesitas m&aacute;s informaci&oacute;n?</h2>
              <h3 class="ftr_slk_tith3">Descubre nuestros seguros</h3>
            </div>
            <div class="col-xs-12"></div>
          </div>
        </div>
        <div class="slk_productos fc_slkProduts">
          <div>
            <div class="slk_prod_item"><a href="#car" title="Productos de coches" class="slk_prod_link slk-car"><img alt="Coche" src="images/modules/mod_footer/coche-pie.png" class="slk_prod_img"/><img alt="Coche" src="images/modules/mod_footer/coche-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Coche</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#moto" title="Productos de Moto y ciclomotor" class="slk_prod_link slk-moto"><img alt="Moto" src="images/modules/mod_footer/moto-pie.png" class="slk_prod_img"/><img alt="Moto" src="images/modules/mod_footer/moto-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Moto y ciclomotor</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#home" title="Ptoductos de Hogar" class="slk_prod_link slk-home"><img alt="Hogar" src="images/modules/mod_footer/hogar-pie.png" class="slk_prod_img"/><img alt="Hogar" src="images/modules/mod_footer/hogar-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Hogar</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#salud" title="Productos de Salud" class="slk_prod_link slk-salud"><img alt="Salud" src="images/modules/mod_footer/salud-pie.png" class="slk_prod_img"/><img alt="Salud" src="images/modules/mod_footer/salud-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Salud</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#worker" title="Productos para Aut&amp;oacute;nomos" class="slk_prod_link slk-worker"><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie.png" class="slk_prod_img"/><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Aut&oacute;nomos</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#travel" title="Productos de viajes" class="slk_prod_link slk-travel"><img alt="Viajes" src="images/modules/mod_footer/viajes-pie.png" class="slk_prod_img"/><img alt="Viajes" src="images/modules/mod_footer/viajes-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Viajes</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#boat" title="Productos para Embarcaciones" class="slk_prod_link slk-boat"><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie.png" class="slk_prod_img"/><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Embarcaciones</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#life" title="Productos de Vida" class="slk_prod_link slk-life"><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie.png" class="slk_prod_img"/><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Vida</span></a></div>
          </div>
        </div>
      </div>
      <div class="mod_ftr_content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 ftr-boxName">
              <p class="ftr-name">&copy; Allianz compa&ntilde;ia de seguros</p>
            </div>
            <ul class="col-xs-12 col-lg-8 ftr-legal">
              <li class="ftr-item"><a href="#avi" title="" class="ftr-link">Aviso Legal</a></li>
              <li class="ftr-item"><a href="#pro" title="" class="ftr-link">Protecci&oacute;n de datos</a></li>
              <li class="ftr-item"><a href="#acc" title="" class="ftr-link">Accesibilidad</a></li>
              <li class="ftr-item"><a href="#pol" title="" class="ftr-link">Pol&iacute;tica de cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End mod_header-->
    <div class="mod_modal">
      <!-- Modal Video-->
      <div id="myModalPlay" tabindex="-1" role="dialog" class="modalPlay modal fade">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close">Cerrar Modal</button>
            </div>
            <div class="modal-body">
              <iframe width="420" height="315" src="https://www.youtube.com/embed/-vgdPcA6v8o" allowfullscreen title="Video de youtube"></iframe>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Form-->
      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
        <div role="document" class="modal-dialog">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close">Cerrar Modal</button>
          <div class="modal-content">
            <div class="modal-header">
              <div class="mod_title">
                <h3 class="tit-title tit-h1 modal-title">Me gustar&iacute;a organizar un evento en Allianz Zona</h3>
              </div>
            </div>
            <div class="modal-body">
              <form method="post" action="#" class="mod_formField">
                <fieldset class="fmf-fieldset mod_accordion ui-accordion">
                  <legend class="fmf-legend hideAccessible">01. Indica tus datos de contacto</legend>
                  <h3 class="fc-accordion_head acn-headForm"><span class="acn-headNumber">o1. </span>Indica tus datos de contacto</h3>
                  <div class="acn-bodyForm">
                    <div class="row">
                      <div class="fmf-fieldGroupInline col-xs-12 col-md-5 col-lg-12">
                        <div class="row">
                          <div class="col-xs-12 col-lg-2">
                            <label for="name" class="fmf-label fmf-inline">Nombre</label>
                          </div>
                          <div class="col-xs-12 col-lg-6">
                            <input id="name" type="text" name="name" class="fmf-field fmf-text">
                          </div>
                        </div>
                      </div>
                      <div class="fmf-fieldGroupInline col-xs-12 col-md-5 col-lg-12">
                        <div class="row">
                          <div class="col-xs-12 col-lg-2">
                            <label for="email02" class="fmf-label">Email</label>
                          </div>
                          <div class="col-xs-12 col-lg-6">
                            <input id="email02" type="email" name="email02" class="fmf-field fmf-text">
                          </div>
                        </div>
                      </div>
                      <div class="fmf-fieldGroupInline col-xs-12 col-md-5 col-lg-12">
                        <div class="row">
                          <div class="col-xs-12 col-lg-2">
                            <label for="phone02" class="fmf-label">Tel&eacute;fono</label>
                          </div>
                          <div class="col-xs-12 col-lg-6">
                            <input id="phone02" type="tel" name="phone02" class="fmf-field fmf-text">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="fmf-fieldset mod_accordion ui-accordion">
                  <legend class="fmf-legend hideAccessible">02. &iquest;Escribes en nombre de una organizaci&oacute;n?</legend>
                  <h3 class="fc-accordion_head acn-headForm"><span class="acn-headNumber">o2. </span>&iquest;Escribes en nombre de una organizaci&oacute;n?</h3>
                  <div class="acn-bodyForm">
                    <div class="row">
                      <div class="col-xs-12 col-md-8">
                        <div class="fmf-radioGroup">
                          <input id="yes" type="radio" name="yesOrNot" class="fmf-radio">
                          <label for="yes" class="fmf-label-on"><span class="hideAccessible">S&iacute;</span></label>
                        </div>
                        <div class="fmf-radioGroup">
                          <input id="not" type="radio" name="yesOrNot" class="fmf-radio">
                          <label for="not" class="fmf-label-off"><span class="hideAccessible">No</span></label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 fmf-aviso">
                        <p>Indica por favor los datos de la organizaci&oacute;n</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="fmf-fieldGroupInline col-xs-12 col-md-5 col-lg-12">
                        <div class="row">
                          <div class="col-xs-12 col-lg-2">
                            <label for="name02" class="fmf-label fmf-inline">Nombre</label>
                          </div>
                          <div class="col-xs-12 col-lg-6">
                            <input id="name02" type="text" name="name02" class="fmf-field fmf-text">
                          </div>
                        </div>
                      </div>
                      <div class="fmf-fieldGroupInline col-xs-12 col-md-5 col-lg-12">
                        <div class="row">
                          <div class="col-xs-12 col-lg-2">
                            <label for="email03" class="fmf-label">Email</label>
                          </div>
                          <div class="col-xs-12 col-lg-6">
                            <input id="email03" type="email" name="email03" class="fmf-field fmf-text">
                          </div>
                        </div>
                      </div>
                      <div class="fmf-fieldGroupInline col-xs-12 col-md-5 col-lg-12">
                        <div class="row">
                          <div class="col-xs-12 col-lg-2">
                            <label for="phone03" class="fmf-label">Tel&eacute;fono</label>
                          </div>
                          <div class="col-xs-12 col-lg-6">
                            <input id="phone03" type="tel" name="phone03" class="fmf-field fmf-text">
                          </div>
                        </div>
                      </div>
                      <div class="fmf-fieldGroupInline col-xs-12 col-md-5 col-lg-12">
                        <div class="row">
                          <div class="col-xs-12 col-lg-2">
                            <label for="role01" class="fmf-label">Rol que ocupas en la oragnizaci&oacute;n</label>
                          </div>
                          <div class="col-xs-12 col-lg-6">
                            <input id="role00" type="text" name="role01" class="fmf-field fmf-text">
                          </div>
                        </div>
                      </div>
                      <div class="fmf-fieldGroupInline col-xs-12 col-md-5 col-lg-12">
                        <div class="row">
                          <div class="col-xs-12 col-lg-2">
                            <label for="activity01" class="fmf-label">Actividad a la que se dedica la organizaci&oacute;n</label>
                          </div>
                          <div class="col-xs-12 col-lg-6">
                            <input id="activity01" type="text" name="activity01" class="fmf-field fmf-text">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="fmf-fieldset mod_accordion ui-accordion">
                  <legend class="fmf-legend hideAccessible">03. Describe la actividad que te gustar&iacute;a organizar en Allianz Zona</legend>
                  <h3 class="fc-accordion_head acn-headForm"><span class="acn-headNumber">o3. </span>Describe la actividad que te gustar&iacute;a organizar en Allianz Zona</h3>
                  <div class="acn-bodyForm">
                    <div class="row">
                      <div class="col-xs-12 fmf-aviso">
                        <p>S&eacute; lo m&aacute; concreto en la descripci&oacute;n para poder valorar la propuesta adecuadamente. Incluye la fecha y hora propuestas, la duraci&oacute;n de la actividad, qu&eacute; suceder&aacute; y qui&eacute;n participar&aacute; y a qu&eacute; p&uacute;blico va dirigido.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 fmf-fieldGroup">
                        <label for="comment02" class="hideAccessible">Describe tu consulta</label>
                        <textarea id="comment02" class="fmf-field fmf-textarea">Lorem Ipsu</textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 fc-inputFile">
                        <p class="fmf-aviso">Si lo prefieres puedes adjuntar un documento</p>
                        <div class="fmf-groupHide fc-groupHide">
                          <label for="file02">Adjuntar</label>
                          <input id="file02" type="file" class="fmf-file">
                        </div>
                        <div class="fmf-groupFile fc-groupShow mod-formNews">
                          <input id="text04" type="text" placeholder="Selecciona un archivo" class="frmN-input frmN-fila fmf-file">
                          <label for="text04" class="fmf-labelFile">Adjuntar</label>
                        </div>
                        <div class="fmf-fieldGroupInline row">
                          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-3 col-lg-offset-0">
                            <div class="fmf-swich frmN-fila">
                              <input id="idSiNo02" type="checkbox" name="onoffswitch" class="fmf-swich-checkbox">
                              <label for="idSiNo02" class="fmf-swich-label"><span class="fmf-swich-inner"></span><span class="fmf-swich-switch"></span></label>
                              <p class="fmf-swich_text">Estoy de acuerdo con la <a href="#ni" title="Pol&amp;iacute;tica de Privacidad" class="fmf-swich_link">Política de Privacidad</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class="row">
                  <div class="col-xs-12 fmf-aviso">
                    <p>Gracias por interesarte en Allianz Zona. Estudiaremos tu propuesta e intentaremos darte respueat lo antes posible. </p>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="mod_botonera">
                <button type="button" data-dismiss="modal" class="btn-orange">Enviar la informaci&oacute;n</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body></html>

allianz/jade/ven.jade
//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Ven - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/jquery.mobile.custom/jquery.mobile.custom.min",
                        "libs/jquery.ui.touch-punch.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "libs/bootstrap.min",
                        "js/init",
                        "js/main"
                    ]   
                })
body
    section.dFront
        h1.hideAccessible Allianz - Ven

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven",
                        active: true
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main.min-home
            .mod-homeRow1.mod-homeRow1_XL
                .hr1-content
                    .container
                        .row
                            .mod-banner.col-sm-12
                                h2.bnr-txt
                                    span.extraBold &iquest;Qu&eacute; es Allianz Zona? 

                                //a.bnr-link.ico_play(href="#ni", target="", title="") Ejecutar video
                                
                                a.bnr-link.ico_play(href="#", data-toggle='modal', data-target='#myModalPlay')


                                a.bnr-link.ico_downPage.fc-downPage.visible-lg(href="#ni", title="") Bajar al contenido
            .mod-homeRow1Tap
            .mod-homeRow5
                .hr4-content
                    .mod-generalContent
                        .container
                            .row
                                .col-xs-12.col-lg-7
                                    .mod-parrafo.gct-content
                                        p.pfo-tit &iquest;Qu&eacute; es Allianz Zona?
                                        p.pfo-text Allianz Zona es un espacio en el que podr&aacute;s interactuar y estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposici&oacute;n.
                                        p.pfo-text Allianz Zona es un espacio en el que podr&aacute;s interactuar y estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposici&oacute;n.
                                            
                                .col-xs-12.col-lg-4.col-lg-offset-1.mod_banner_info.gct-content.visible-lg
                                    .bni-content 
                                        p.bni-title &iquest;Quieres organizar un evento en nuestra Zona Allianz?
                                        p.bni-text Ponte en contacto con nosotros
                                        .mod_botonera.btn-center
                                            //a.btn-orange(href="#ni", title="") Contacta con nosotros
                                            a(href="#", data-toggle="modal", data-target="#myModal", class="btn-orange") Contacta con nosotros

                        .col-xs-12.mod-sliderFadeImg.fc-sliderFade
                            div
                                .slf-content
                                   .row
                                        .slf-content.col-md-12
                                            .row
                                                img.slf-img(src=globals.imgPath+"/content/ven-img-01.png", alt="desc")
                            div
                                .slf-content
                                   .row
                                        .slf-content.col-md-12
                                            .row
                                                img.slf-img(src=globals.imgPath+"/content/ven-img-02.png", alt="desc")
                            div
                                .slf-content
                                   .row
                                        .slf-content.col-md-12
                                            .row
                                                img.slf-img(src=globals.imgPath+"/content/ven-img-01.png", alt="desc")

                        .mod_banner_info.gct-content.visible-md.visible-sm.visible-xs
                            .bni-content 
                                p.bni-title &iquest;Quieres organizar un evento en nuestra Zona Allianz?
                                p.bni-text Ponte en contacto con nosotros
                                .mod_botonera.btn-center
                                    a(href="#", type="button", data-toggle="modal", data-target="#myModal", class="btn-orange") Contacta con nosotros

                        .mod_mapa.fc-mapa.gct-content
                            .map-parrafo
                                .container
                                    .row
                                        .map-parrafo-box
                                            p.map-tit &iquest;A qu&eacute; esperas para visitarnos? 
                                            p.map-text 
                                                span Nos encontrar&aacute;s en 
                                                span Carrer carrer, n&uacute;mero A (080AA) 
                                                span Barcelona
                            .map-iframe
                                iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3037.6349277003014!2d-3.7061871842501026!3d40.4169376135501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1452533988506", width="1600", height="515",  allowfullscreen)

                        .col-xs-12.col-lg-8.col-lg-offset-2
                            form(method="post" action="#" class="mod-formNews fc-filter_showHide mod_formField")
                                fieldset
                                    legend.frmN-legend
                                        span.frmN-subtit Ap&uacute;ntate a nuestra
                                        span.frmN-tit Newsletter

                                    p.frmN-parrafo &iquest;Quieres estar al corriente de las actividades en Allianz Zona?
                                    .row
                                        .col-xs-12.col-md-7.col-md-offset-1
                                            label.hideAccessible(for="idEmail") E-mail
                                            input.frmN-input.frmN-fila(id="idEmail", type="email" value="", placeholder="E-mail")

                                            .fmf-swich.frmN-fila
                                                input#idSiNo.fmf-swich-checkbox(type='checkbox', name='onoffswitch', checked='')
                                                label.fmf-swich-label(for='idSiNo')
                                                    span.fmf-swich-inner
                                                    span.fmf-swich-switch
                                                p.fmf-swich_text Estoy de acuerdo con la&nbsp;
                                                    a.fmf-swich_link(href="#ni", title="Pol&iacute;tica de Privacidad") Pol&iacute;tica de Privacidad
                                        .col-xs-12.col-md-3
                                            .mod_botonera.frmN-fila
                                                a.btn-orange(href="#ni", title="Enviar") Enviar
            
        // END CONTAINER

        +mod_footer()
        .mod_modal
            // Modal Video
            #myModalPlay.modalPlay.modal.fade(tabindex='-1', role='dialog')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close') Cerrar Modal
                        .modal-body
                            iframe(width="420", height="315", src="https://www.youtube.com/embed/-vgdPcA6v8o", allowfullscreen, title="Video de youtube")
            // Modal Form
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                    button.close(type='button', data-dismiss='modal', aria-label='Close') Cerrar Modal
                    .modal-content
                        .modal-header
                            .mod_title
                                h3.tit-title.tit-h1.modal-title Me gustar&iacute;a organizar un evento en Allianz Zona
                        .modal-body
                            form(method="post", action="#", class="mod_formField")
                                fieldset.fmf-fieldset.mod_accordion.ui-accordion
                                    legend.fmf-legend.hideAccessible 01. Indica tus datos de contacto
                                    h3.fc-accordion_head.acn-headForm
                                        span.acn-headNumber o1. 
                                        | Indica tus datos de contacto
                                    .acn-bodyForm
                                        .row
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label.fmf-inline(for='name') Nombre
                                                    .col-xs-12.col-lg-6
                                                        input#name.fmf-field.fmf-text(type='text', name='name')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='email02') Email
                                                    .col-xs-12.col-lg-6
                                                        input#email02.fmf-field.fmf-text(type='email', name='email02')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='phone02') Tel&eacute;fono
                                                    .col-xs-12.col-lg-6
                                                        input#phone02.fmf-field.fmf-text(type='tel', name='phone02')
                                                
                                fieldset.fmf-fieldset.mod_accordion.ui-accordion
                                    legend.fmf-legend.hideAccessible 02. &iquest;Escribes en nombre de una organizaci&oacute;n?
                                    h3.fc-accordion_head.acn-headForm
                                        span.acn-headNumber o2. 
                                        | &iquest;Escribes en nombre de una organizaci&oacute;n?
                                    .acn-bodyForm
                                        .row
                                            .col-xs-12.col-md-8
                                                .fmf-radioGroup
                                                    input(id="yes",type="radio", name="yesOrNot", class="fmf-radio")
                                                    label(for="yes", class="fmf-label-on")
                                                        span.hideAccessible S&iacute;
                                                .fmf-radioGroup
                                                    input(id="not",type="radio", name="yesOrNot", class="fmf-radio")
                                                    label(for="not",class="fmf-label-off")
                                                        span.hideAccessible No
                                        .row
                                            .col-xs-12.fmf-aviso
                                                p Indica por favor los datos de la organizaci&oacute;n
                                        .row
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label.fmf-inline(for='name02') Nombre
                                                    .col-xs-12.col-lg-6
                                                        input#name02.fmf-field.fmf-text(type='text', name='name02')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='email03') Email
                                                    .col-xs-12.col-lg-6
                                                        input#email03.fmf-field.fmf-text(type='email', name='email03')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='phone03') Tel&eacute;fono
                                                    .col-xs-12.col-lg-6
                                                        input#phone03.fmf-field.fmf-text(type='tel', name='phone03')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='role01') Rol que ocupas en la oragnizaci&oacute;n
                                                    .col-xs-12.col-lg-6
                                                        input#role00.fmf-field.fmf-text(type='text', name='role01')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='activity01') Actividad a la que se dedica la organizaci&oacute;n
                                                    .col-xs-12.col-lg-6
                                                        input#activity01.fmf-field.fmf-text(type='text', name='activity01')
                                                
                                    

                                    

                                fieldset.fmf-fieldset.mod_accordion.ui-accordion
                                    legend.fmf-legend.hideAccessible 03. Describe la actividad que te gustar&iacute;a organizar en Allianz Zona
                                    h3.fc-accordion_head.acn-headForm
                                        span.acn-headNumber o3. 
                                        | Describe la actividad que te gustar&iacute;a organizar en Allianz Zona
                                    .acn-bodyForm
                                        .row
                                            .col-xs-12.fmf-aviso
                                                p S&eacute; lo m&aacute; concreto en la descripci&oacute;n para poder valorar la propuesta adecuadamente. Incluye la fecha y hora propuestas, la duraci&oacute;n de la actividad, qu&eacute; suceder&aacute; y qui&eacute;n participar&aacute; y a qu&eacute; p&uacute;blico va dirigido.
                                        .row
                                            .col-xs-12.fmf-fieldGroup
                                                label(for="comment02", class="hideAccessible") Describe tu consulta
                                                textarea(id="comment02",class="fmf-field fmf-textarea") Lorem Ipsu
                                        .row
                                            .col-xs-12.fc-inputFile
                                                p.fmf-aviso Si lo prefieres puedes adjuntar un documento
                                                .fmf-groupHide.fc-groupHide
                                                    label(for="file02") Adjuntar
                                                    input(id="file02", type="file", class="fmf-file")
                                                .fmf-groupFile.fc-groupShow.mod-formNews
                                                    input(id="text04", type="text", class="frmN-input frmN-fila fmf-file", placeholder="Selecciona un archivo")
                                                    label(for="text04", class="fmf-labelFile") Adjuntar
                                                .fmf-fieldGroupInline.row
                                                    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-7.col-md-offset-3.col-lg-offset-0
                                                        .fmf-swich.frmN-fila
                                                            input#idSiNo02.fmf-swich-checkbox(type='checkbox', name='onoffswitch')
                                                            label.fmf-swich-label(for='idSiNo02')
                                                                span.fmf-swich-inner
                                                                span.fmf-swich-switch
                                                            p.fmf-swich_text Estoy de acuerdo con la 
                                                                a.fmf-swich_link(href='#ni', title='Pol&iacute;tica de Privacidad') Política de Privacidad
                                .row
                                    .col-xs-12.fmf-aviso
                                        p Gracias por interesarte en Allianz Zona. Estudiaremos tu propuesta e intentaremos darte respueat lo antes posible. 
                        .modal-footer
                            .mod_botonera
                                button.btn-orange(type='button', data-dismiss='modal') Enviar la informaci&oacute;n
//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>
