allianz/jade/vive-post.jade
//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_social

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Vive Post - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/jquery.mobile.custom/jquery.mobile.custom.min",
                        "libs/jquery.ui.touch-punch.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "js/init",
                        "js/main"
                    ]   
                })
body
    section.dFront
        h1.hideAccessible Allianz - Vive Post

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive",
                        active: true
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main.mod_vivePost
            .container
                .row
                    .col-xs-12.mod_back
                        a(href="#ni", title="Seguro de hogar", class="mb-linkBack ico-back") Seguro de hogar
                .row    
                    .col-xs-12.col-lg-5.col-lg-push-7.mod_calc
                        a(class="mc-link", href="", title="Calcula tu seguro")
                            figure 
                                img(class="mc-img", src=globals.imgPath+"/modules/icons/ico-cal.png", alt="Calculadora de seguro") 
                                figcaption.mc-figCap Calcula tu seguro
                    .col-xs-12.col-lg-7.col-lg-pull-5.mvp-titH2
                        h2 &iquest; Sabes qu&eacute; hacer si te roban el m&oacute;vil ?
                .row
                    .col-xs-12.col-lg-7.mvp-post
                        p.mvp-text Minions ipsum chasy velit sit amet magna po kass hana dul sae la bodaaa. Ut aliqua potatoooo occaecat potatoooo. Voluptate ti aamoo! Baboiii eiusmod para tú pepete uuuhhh bee do bee do bee do cillum. Chasy veniam wiiiii sed esse et velit veniam jeje velit tempor. Ad sit amet labore magna potatoooo po kass poulet tikka masala belloo! Ex laboris qui belloo! Bananaaaa.
                        p.mvp-text Sed poulet tikka masala enim po kass bee do bee do bee do. Nisi tatata bala tu aute nisi ad baboiii pepete tank yuuu! Daa quis quis daa veniam butt. Me want bananaaa! velit consectetur po kass daa ullamco magna. Po kass bananaaaa enim sit amet bappleees enim poulet tikka masala po kass. Uuuhhh jeje adipisicing wiiiii incididunt ullamco. Ut aute chasy para tú gelatooo nisi dolore jiji.

                        h3.mvp-titH3 Lorem Ipsum

                        p.mvp-text Minions ipsum quis daa daa nisi velit. Duis commodo ex la bodaaa bananaaaa. Dolor potatoooo tank yuuu! Dolore para tú bee do bee do bee do ad belloo! Consequat uuuhhh. Duis wiiiii ut elit et aliquip ad. Hana dul sae ullamco butt esse wiiiii cillum sit amet nostrud officia ut. Ad gelatooo me want bananaaa! Incididunt ut consequat nostrud. Adipisicing wiiiii poulet tikka masala duis esse aute consequat jeje. Reprehenderit jiji ex aute. 

                        figure.mvp-fig
                            img(class="mvp-item", src=globals.imgPath+"/content/img-post.jpg", alt="Imagen del post")
                            figcaption.mvp-figcaption 
                    .col-xs-12.col-lg-5.mvp-boxAside
                        +mod_social({
                            cssClass:"scl-spacing",
                            items:[
                                {
                                    content: "facebook"
                                },
                                {
                                    content: "twitter"
                                }
                            ]
                        })
                        .mod_boxButton
                            p.mbb-text Un 
                                span.text-strong agente 
                                | puede atenderte 
                                span.text-strong online y resolverte 
                                |cualquier 
                                span.text-strong consulta 
                                | que tengas sobre este 
                                span.text-strong seguro
                            .mod_botonera 
                                button(class="btn-orange ico-conecta mvn-button", type="button") Conecta con un agente

        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>

allianz/vive-post.html
<!DOCTYPE html><!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Vive Post - Allianz Zona</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="css/styles-aui.css"/>
  <link rel="stylesheet" type="text/css" href="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/general.css"/>
  <link rel="stylesheet" type="text/css" href="css/modules.css"/>
  <!-- Fin archivos CSS-->
  <!-- Archivos JS-->
  <script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="libs/jquery.mobile.custom/jquery.mobile.custom.min.js"></script>
  <script type="text/javascript" src="libs/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="libs/slick.js"></script>
  <script type="text/javascript" src="libs/rangeSlider/jQAllRangeSliders-min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- Fin rchivos JS-->
</head>
<body>
  <section class="dFront">
    <h1 class="hideAccessible">Allianz - Vive Post</h1>
    <div class="mod_cookie">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-9 col-lg-offset-0">
            <p class="cok-text">Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarte publicidad relacionada con tus preferencias mediante el an&aacute;lisis de tus h&aacute;bitos de navegación. Si continuas navegando, consideramos que aceptas su uso. Puedes cambiar la configuración u &nbsp;<a title="" href="#" class="cok-bold">obtener m&aacute;s información</a></p>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-1">
            <div class="mod_botonera">
              <button type="button" class="cok-btn">Entendido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mod_header-->
    <header class="mod_header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="hdr-logo"><a href="#" title="Logo Allianz" class="hdr-logoLink">
                <figure class="hdr-img"><img src="images/modules/mod_header/logo-allianz-mobile.png" alt="Logo Allianz Mobile" class="hdr-logoMobile"/><img src="images/modules/mod_header/logo-allianz.png" alt="Logo Allianz" class="hdr-logoDesktop"/>
                </figure></a></div>
            <!-- Nav menu-->
            <nav class="mod_navMenu">
              <h2 class="hideAccessible">Men&uacute; de navegaci&oacute;n</h2><a href="#" title="Desplegar menu mobile" class="nvm-mobileButton fc-menuMobile_init">Desplegar menu Mobile</a>
              <ul class="nvm-list nvm-level-1">
                <li class="nvm-listItem"><a href="#" title="Ir a Vive" class="nvm-listItemLink nvm-active">Vive</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Conecta" class="nvm-listItemLink">Conecta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Disfruta" class="nvm-listItemLink">Disfruta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Ven" class="nvm-listItemLink">Ven</a></li>
                <li class="nvm-listItem hdr-language">
                  <form method="post" action="#" class="mod_formField">
                    <label for="id-language" class="hideAccessible">Selecciona lenguaje</label>
                    <select id="id-language" class="fmf-combobox fc-combobox_init">
                      <option class="fmf-option">ES</option>
                      <option class="fmf-option">EN</option>
                      <option class="fmf-option">CAT</option>
                    </select>
                  </form>
                </li>
                <li class="nvm-listItem hdr-search">
                  <form method="post" action="#" class="mod_formField">
                    <div class="hdr-searchField mod_formField">
                      <label for="search-menu" class="hideAccessible">Buscar</label>
                      <input type="text" id="search-menu" placeholder="Buscar..." class="fmf-field fmf-text"/>
                    </div><a href="#" title="Pulsa para mostrar buscador" class="hdr-searchLink fc-searchButton_init">Pulsa para mostrar buscador</a>
                  </form>
                </li>
                <li class="nvm-listItem hdr-zone"><a href="#" title="Zona privada" class="hdr-zoneLink">Zona privada</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End mod_header-->
    <!-- CONTAINER-->
    <main class="mod-main mod_vivePost">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 mod_back"><a href="#ni" title="Seguro de hogar" class="mb-linkBack ico-back">Seguro de hogar</a></div>
        </div>
        <div class="row">   
          <div class="col-xs-12 col-lg-5 col-lg-push-7 mod_calc"><a href="" title="Calcula tu seguro" class="mc-link">
              <figure> <img src="images/modules/icons/ico-cal.png" alt="Calculadora de seguro" class="mc-img">
                <figcaption class="mc-figCap">Calcula tu seguro</figcaption>
              </figure></a></div>
          <div class="col-xs-12 col-lg-7 col-lg-pull-5 mvp-titH2">
            <h2>&iquest; Sabes qu&eacute; hacer si te roban el m&oacute;vil ?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-lg-7 mvp-post">
            <p class="mvp-text">Minions ipsum chasy velit sit amet magna po kass hana dul sae la bodaaa. Ut aliqua potatoooo occaecat potatoooo. Voluptate ti aamoo! Baboiii eiusmod para tú pepete uuuhhh bee do bee do bee do cillum. Chasy veniam wiiiii sed esse et velit veniam jeje velit tempor. Ad sit amet labore magna potatoooo po kass poulet tikka masala belloo! Ex laboris qui belloo! Bananaaaa.</p>
            <p class="mvp-text">Sed poulet tikka masala enim po kass bee do bee do bee do. Nisi tatata bala tu aute nisi ad baboiii pepete tank yuuu! Daa quis quis daa veniam butt. Me want bananaaa! velit consectetur po kass daa ullamco magna. Po kass bananaaaa enim sit amet bappleees enim poulet tikka masala po kass. Uuuhhh jeje adipisicing wiiiii incididunt ullamco. Ut aute chasy para tú gelatooo nisi dolore jiji.</p>
            <h3 class="mvp-titH3">Lorem Ipsum</h3>
            <p class="mvp-text">Minions ipsum quis daa daa nisi velit. Duis commodo ex la bodaaa bananaaaa. Dolor potatoooo tank yuuu! Dolore para tú bee do bee do bee do ad belloo! Consequat uuuhhh. Duis wiiiii ut elit et aliquip ad. Hana dul sae ullamco butt esse wiiiii cillum sit amet nostrud officia ut. Ad gelatooo me want bananaaa! Incididunt ut consequat nostrud. Adipisicing wiiiii poulet tikka masala duis esse aute consequat jeje. Reprehenderit jiji ex aute. </p>
            <figure class="mvp-fig"><img src="images/content/img-post.jpg" alt="Imagen del post" class="mvp-item">
              <figcaption class="mvp-figcaption"> </figcaption>
            </figure>
          </div>
          <div class="col-xs-12 col-lg-5 mvp-boxAside">
            <div class="mod_social scl-spacing">
              <ul class="scl-list">
                <li class="scl-listItem"><a href="#" title="Ir a facebook" class="scl-listItemLink scl-facebook">Ir a facebook</a></li>
                <li class="scl-listItem"><a href="#" title="Ir a twitter" class="scl-listItemLink scl-twitter">Ir a twitter</a></li>
              </ul>
            </div>
            <div class="mod_boxButton">
              <p class="mbb-text">Un <span class="text-strong">agente </span>puede atenderte <span class="text-strong">online y resolverte </span>cualquier <span class="text-strong">consulta </span>que tengas sobre este <span class="text-strong">seguro</span></p>
              <div class="mod_botonera"> 
                <button type="button" class="btn-orange ico-conecta mvn-button">Conecta con un agente</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- END CONTAINER-->
    <!-- mod_footer-->
    <footer class="mod_footer">
      <div class="mod_ftr_slick">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="ftr_slk_tith2">¿Necesitas m&aacute;s informaci&oacute;n?</h2>
              <h3 class="ftr_slk_tith3">Descubre nuestros seguros</h3>
            </div>
            <div class="col-xs-12"></div>
          </div>
        </div>
        <div class="slk_productos fc_slkProduts">
          <div>
            <div class="slk_prod_item"><a href="#car" title="Productos de coches" class="slk_prod_link slk-car"><img alt="Coche" src="images/modules/mod_footer/coche-pie.png" class="slk_prod_img"/><img alt="Coche" src="images/modules/mod_footer/coche-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Coche</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#moto" title="Productos de Moto y ciclomotor" class="slk_prod_link slk-moto"><img alt="Moto" src="images/modules/mod_footer/moto-pie.png" class="slk_prod_img"/><img alt="Moto" src="images/modules/mod_footer/moto-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Moto y ciclomotor</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#home" title="Ptoductos de Hogar" class="slk_prod_link slk-home"><img alt="Hogar" src="images/modules/mod_footer/hogar-pie.png" class="slk_prod_img"/><img alt="Hogar" src="images/modules/mod_footer/hogar-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Hogar</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#salud" title="Productos de Salud" class="slk_prod_link slk-salud"><img alt="Salud" src="images/modules/mod_footer/salud-pie.png" class="slk_prod_img"/><img alt="Salud" src="images/modules/mod_footer/salud-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Salud</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#worker" title="Productos para Aut&amp;oacute;nomos" class="slk_prod_link slk-worker"><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie.png" class="slk_prod_img"/><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Aut&oacute;nomos</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#travel" title="Productos de viajes" class="slk_prod_link slk-travel"><img alt="Viajes" src="images/modules/mod_footer/viajes-pie.png" class="slk_prod_img"/><img alt="Viajes" src="images/modules/mod_footer/viajes-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Viajes</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#boat" title="Productos para Embarcaciones" class="slk_prod_link slk-boat"><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie.png" class="slk_prod_img"/><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Embarcaciones</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#life" title="Productos de Vida" class="slk_prod_link slk-life"><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie.png" class="slk_prod_img"/><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Vida</span></a></div>
          </div>
        </div>
      </div>
      <div class="mod_ftr_content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 ftr-boxName">
              <p class="ftr-name">&copy; Allianz compa&ntilde;ia de seguros</p>
            </div>
            <ul class="col-xs-12 col-lg-8 ftr-legal">
              <li class="ftr-item"><a href="#avi" title="" class="ftr-link">Aviso Legal</a></li>
              <li class="ftr-item"><a href="#pro" title="" class="ftr-link">Protecci&oacute;n de datos</a></li>
              <li class="ftr-item"><a href="#acc" title="" class="ftr-link">Accesibilidad</a></li>
              <li class="ftr-item"><a href="#pol" title="" class="ftr-link">Pol&iacute;tica de cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End mod_header-->
  </section>
</body></html>
