allianz/jade/vive.jade
//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Vive - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    },
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/jquery.mobile.custom/jquery.mobile.custom.min",
                        "libs/jquery.ui.touch-punch.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront
        h1.hideAccessible Allianz - Vive

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive",
                        active: true
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main.mod_vive
            .col-xs-12.mv_titVive
                h2.mv-tith2 Aseg&uacute;rate con Allianz.
                    span.mv-sub Encuentra tu seguro ideal
            .mod-homeRow2TapVive
            .mod-homeRow3.fc-homeRow
                .hr3-content
                    .col-xs-12.col-lg-6.mv-boxL
                        .mv-boxInner
                            a(class="mv-link" href="#life", title="Me voy a vivir solo") "Me voy a vivir solo"
                                .mv-content
                                    p.mvc-text &iquest;Sabes qué hacer si te roban el móvil?
                                    p.mvc-text &iquest;Sabes qué hacer si pierdes las llaves?
                                    p.mvc-text Las 5 diferencias entre continente y contenido
                                    p.mvc-text Consejos para elegir un buen seguro de hogar
                    .col-xs-12.col-lg-6.mv-boxR
                        .mv-boxInner
                            a(class="mv-link" href="#buyHouse", title="Me compro un coche") "Me compro un coche"
                                .mv-content
                                    p.mvc-text &iquest;Sabes qué hacer si te roban el móvil?
                                    p.mvc-text &iquest;Sabes qué hacer si pierdes las llaves?
                                    p.mvc-text Las 5 diferencias entre continente y contenido
                                    p.mvc-text Consejos para elegir un buen seguro de hogar
            .mod-homeRow3Tap
            .mod-homeRow4Vive.fc-homeRow
                .hr4-content
                    .col-xs-12.col-lg-6.mv-boxL
                        .mv-boxInner
                            a(class="mv-link" href="#wedding", title="Me caso") "Me caso"
                                .mv-content
                                    p.mvc-text &iquest;Sabes qué hacer si te roban el móvil?
                                    p.mvc-text &iquest;Sabes qué hacer si pierdes las llaves?
                                    p.mvc-text Las 5 diferencias entre continente y contenido
                                    p.mvc-text Consejos para elegir un buen seguro de hogar
                    .col-xs-12.col-lg-6.mv-boxR
                        .mv-boxInner
                            a(class="mv-link" href="#bussines", title="Monto un negocio") "Monto un negocio"
            .mod-homeRow2Tap
            .mod-homeRow3.homeRowLast.fc-homeRow
                .hr3-content
                    .col-xs-12.col-lg-6.mv-boxL
                        .mv-boxInner
                            a(class="mv-link" href="#sons", title="Quiero tener un hijo") "Quiero tener un hijo"
                                .mv-content
                                    p.mvc-text &iquest;Sabes qué hacer si te roban el móvil?
                                    p.mvc-text &iquest;Sabes qué hacer si pierdes las llaves?
                                    p.mvc-text Las 5 diferencias entre continente y contenido
                                    p.mvc-text Consejos para elegir un buen seguro de hogar

                    .col-xs-12.col-lg-6.mv-boxR
                        .mv-boxInner
                            a(class="mv-link" href="#travel", title="Me voy de viaje") "Me voy de viaje"
            .mod-homeRow3Tap.homeFinal

            .container
                .row
                    .col-xs-12.mod_showMore.mod_machine
                        p.fc-verMas
                            a(href="#mostrarMas", title="Mostrar Más", class="mch-link")
                            span.md-link   Ver m&aacute;s

            .container
                .row
                    .col-xs-12
                        h3.mvn-titH3 &iquest;Necesitas asegurar algo especial?
                            small.mvn-sub &iexcl;Podemos ayudarte!
            .mv-needHelp
                .container
                    .row
                        .col-xs-12.col-md-12.col-lg-3.mvn-boxO
                            a(class="mvn-link", href="", title="Quiero asegurar mi tabla de surf") " Quiero asegurar mi tabla de surf "
                        .col-xs-12.col-md-12.col-lg-3.mvn-boxO
                            a(class="mvn-link", href="", title="Quiero asegurar mi equipo fotografico") " Quiero asegurar mi equipo fotogr&aacute;fico "
                        .col-xs-12.col-md-12.col-lg-3.mvn-boxO
                            a(class="mvn-link", href="", title="Soy musico, &iquest;Puedo asegurar mi violin?") " Soy m&uacute;sico, &iquest;puedo asegurar mi viol&iacute;n? "
                        .col-xs-12.col-md-12.col-lg-3.mvn-boxA
                            p.mvn-text Ponte en contacto con uno de nuestros agentes y te ayudaremos encantados
                            .mod_botonera
                                button(class="btn-orange ico-conecta mvn-button", type="button") Conecta con un agente


        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>

allianz/vive.html
<!DOCTYPE html><!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
<head>
  <!-- Título página-->
  <title>Vive - Allianz Zona</title>
  <!-- Etiquetas META-->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Archivos CSS-->
  <link rel="stylesheet" type="text/css" href="css/styles-aui.css"/>
  <link rel="stylesheet" type="text/css" href="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/general.css"/>
  <link rel="stylesheet" type="text/css" href="css/modules.css"/>
  <!-- Fin archivos CSS-->
  <!-- Archivos JS-->
  <script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="libs/jquery.mobile.custom/jquery.mobile.custom.min.js"></script>
  <script type="text/javascript" src="libs/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="libs/slick.js"></script>
  <script type="text/javascript" src="libs/rangeSlider/jQAllRangeSliders-min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- Fin rchivos JS-->
</head>
<body>
  <section class="dFront">
    <h1 class="hideAccessible">Allianz - Vive</h1>
    <div class="mod_cookie">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-9 col-lg-offset-0">
            <p class="cok-text">Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarte publicidad relacionada con tus preferencias mediante el an&aacute;lisis de tus h&aacute;bitos de navegación. Si continuas navegando, consideramos que aceptas su uso. Puedes cambiar la configuración u &nbsp;<a title="" href="#" class="cok-bold">obtener m&aacute;s información</a></p>
          </div>
          <div class="col-xs-12 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-1">
            <div class="mod_botonera">
              <button type="button" class="cok-btn">Entendido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mod_header-->
    <header class="mod_header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="hdr-logo"><a href="#" title="Logo Allianz" class="hdr-logoLink">
                <figure class="hdr-img"><img src="images/modules/mod_header/logo-allianz-mobile.png" alt="Logo Allianz Mobile" class="hdr-logoMobile"/><img src="images/modules/mod_header/logo-allianz.png" alt="Logo Allianz" class="hdr-logoDesktop"/>
                </figure></a></div>
            <!-- Nav menu-->
            <nav class="mod_navMenu">
              <h2 class="hideAccessible">Men&uacute; de navegaci&oacute;n</h2><a href="#" title="Desplegar menu mobile" class="nvm-mobileButton fc-menuMobile_init">Desplegar menu Mobile</a>
              <ul class="nvm-list nvm-level-1">
                <li class="nvm-listItem"><a href="#" title="Ir a Vive" class="nvm-listItemLink nvm-active">Vive</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Conecta" class="nvm-listItemLink">Conecta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Disfruta" class="nvm-listItemLink">Disfruta</a></li>
                <li class="nvm-listItem"><a href="#" title="Ir a Ven" class="nvm-listItemLink">Ven</a></li>
                <li class="nvm-listItem hdr-language">
                  <form method="post" action="#" class="mod_formField">
                    <label for="id-language" class="hideAccessible">Selecciona lenguaje</label>
                    <select id="id-language" class="fmf-combobox fc-combobox_init">
                      <option class="fmf-option">ES</option>
                      <option class="fmf-option">EN</option>
                      <option class="fmf-option">CAT</option>
                    </select>
                  </form>
                </li>
                <li class="nvm-listItem hdr-search">
                  <form method="post" action="#" class="mod_formField">
                    <div class="hdr-searchField mod_formField">
                      <label for="search-menu" class="hideAccessible">Buscar</label>
                      <input type="text" id="search-menu" placeholder="Buscar..." class="fmf-field fmf-text"/>
                    </div><a href="#" title="Pulsa para mostrar buscador" class="hdr-searchLink fc-searchButton_init">Pulsa para mostrar buscador</a>
                  </form>
                </li>
                <li class="nvm-listItem hdr-zone"><a href="#" title="Zona privada" class="hdr-zoneLink">Zona privada</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End mod_header-->
    <!-- CONTAINER-->
    <main class="mod-main mod_vive">
      <div class="col-xs-12 mv_titVive">
        <h2 class="mv-tith2">Aseg&uacute;rate con Allianz.<span class="mv-sub">Encuentra tu seguro ideal</span></h2>
      </div>
      <div class="mod-homeRow2TapVive"></div>
      <div class="mod-homeRow3 fc-homeRow">
        <div class="hr3-content">
          <div class="col-xs-12 col-lg-6 mv-boxL">
            <div class="mv-boxInner"><a href="#life" title="Me voy a vivir solo" class="mv-link">"Me voy a vivir solo"
                <div class="mv-content">
                  <p class="mvc-text">&iquest;Sabes qué hacer si te roban el móvil?</p>
                  <p class="mvc-text">&iquest;Sabes qué hacer si pierdes las llaves?</p>
                  <p class="mvc-text">Las 5 diferencias entre continente y contenido</p>
                  <p class="mvc-text">Consejos para elegir un buen seguro de hogar</p>
                </div></a></div>
          </div>
          <div class="col-xs-12 col-lg-6 mv-boxR">
            <div class="mv-boxInner"><a href="#buyHouse" title="Me compro un coche" class="mv-link">"Me compro un coche"
                <div class="mv-content">
                  <p class="mvc-text">&iquest;Sabes qué hacer si te roban el móvil?</p>
                  <p class="mvc-text">&iquest;Sabes qué hacer si pierdes las llaves?</p>
                  <p class="mvc-text">Las 5 diferencias entre continente y contenido</p>
                  <p class="mvc-text">Consejos para elegir un buen seguro de hogar</p>
                </div></a></div>
          </div>
        </div>
      </div>
      <div class="mod-homeRow3Tap"></div>
      <div class="mod-homeRow4Vive fc-homeRow">
        <div class="hr4-content">
          <div class="col-xs-12 col-lg-6 mv-boxL">
            <div class="mv-boxInner"><a href="#wedding" title="Me caso" class="mv-link">"Me caso"
                <div class="mv-content">
                  <p class="mvc-text">&iquest;Sabes qué hacer si te roban el móvil?</p>
                  <p class="mvc-text">&iquest;Sabes qué hacer si pierdes las llaves?</p>
                  <p class="mvc-text">Las 5 diferencias entre continente y contenido</p>
                  <p class="mvc-text">Consejos para elegir un buen seguro de hogar</p>
                </div></a></div>
          </div>
          <div class="col-xs-12 col-lg-6 mv-boxR">
            <div class="mv-boxInner"><a href="#bussines" title="Monto un negocio" class="mv-link">"Monto un negocio"</a></div>
          </div>
        </div>
      </div>
      <div class="mod-homeRow2Tap"></div>
      <div class="mod-homeRow3 homeRowLast fc-homeRow">
        <div class="hr3-content">
          <div class="col-xs-12 col-lg-6 mv-boxL">
            <div class="mv-boxInner"><a href="#sons" title="Quiero tener un hijo" class="mv-link">"Quiero tener un hijo"
                <div class="mv-content">
                  <p class="mvc-text">&iquest;Sabes qué hacer si te roban el móvil?</p>
                  <p class="mvc-text">&iquest;Sabes qué hacer si pierdes las llaves?</p>
                  <p class="mvc-text">Las 5 diferencias entre continente y contenido</p>
                  <p class="mvc-text">Consejos para elegir un buen seguro de hogar</p>
                </div></a></div>
          </div>
          <div class="col-xs-12 col-lg-6 mv-boxR">
            <div class="mv-boxInner"><a href="#travel" title="Me voy de viaje" class="mv-link">"Me voy de viaje"</a></div>
          </div>
        </div>
      </div>
      <div class="mod-homeRow3Tap homeFinal"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 mod_showMore mod_machine">
            <p class="fc-verMas"><a href="#mostrarMas" title="Mostrar Más" class="mch-link"></a><span class="md-link">  Ver m&aacute;s</span></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="mvn-titH3">&iquest;Necesitas asegurar algo especial?<small class="mvn-sub">&iexcl;Podemos ayudarte!</small></h3>
          </div>
        </div>
      </div>
      <div class="mv-needHelp">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-3 mvn-boxO"><a href="" title="Quiero asegurar mi tabla de surf" class="mvn-link">" Quiero asegurar mi tabla de surf "</a></div>
            <div class="col-xs-12 col-md-12 col-lg-3 mvn-boxO"><a href="" title="Quiero asegurar mi equipo fotografico" class="mvn-link">" Quiero asegurar mi equipo fotogr&aacute;fico "</a></div>
            <div class="col-xs-12 col-md-12 col-lg-3 mvn-boxO"><a href="" title="Soy musico, &amp;iquest;Puedo asegurar mi violin?" class="mvn-link">" Soy m&uacute;sico, &iquest;puedo asegurar mi viol&iacute;n? "</a></div>
            <div class="col-xs-12 col-md-12 col-lg-3 mvn-boxA">
              <p class="mvn-text">Ponte en contacto con uno de nuestros agentes y te ayudaremos encantados</p>
              <div class="mod_botonera">
                <button type="button" class="btn-orange ico-conecta mvn-button">Conecta con un agente</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- END CONTAINER-->
    <!-- mod_footer-->
    <footer class="mod_footer">
      <div class="mod_ftr_slick">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="ftr_slk_tith2">¿Necesitas m&aacute;s informaci&oacute;n?</h2>
              <h3 class="ftr_slk_tith3">Descubre nuestros seguros</h3>
            </div>
            <div class="col-xs-12"></div>
          </div>
        </div>
        <div class="slk_productos fc_slkProduts">
          <div>
            <div class="slk_prod_item"><a href="#car" title="Productos de coches" class="slk_prod_link slk-car"><img alt="Coche" src="images/modules/mod_footer/coche-pie.png" class="slk_prod_img"/><img alt="Coche" src="images/modules/mod_footer/coche-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Coche</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#moto" title="Productos de Moto y ciclomotor" class="slk_prod_link slk-moto"><img alt="Moto" src="images/modules/mod_footer/moto-pie.png" class="slk_prod_img"/><img alt="Moto" src="images/modules/mod_footer/moto-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Moto y ciclomotor</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#home" title="Ptoductos de Hogar" class="slk_prod_link slk-home"><img alt="Hogar" src="images/modules/mod_footer/hogar-pie.png" class="slk_prod_img"/><img alt="Hogar" src="images/modules/mod_footer/hogar-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Hogar</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#salud" title="Productos de Salud" class="slk_prod_link slk-salud"><img alt="Salud" src="images/modules/mod_footer/salud-pie.png" class="slk_prod_img"/><img alt="Salud" src="images/modules/mod_footer/salud-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Salud</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#worker" title="Productos para Aut&amp;oacute;nomos" class="slk_prod_link slk-worker"><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie.png" class="slk_prod_img"/><img alt="Autónomos" src="images/modules/mod_footer/autonomo-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Aut&oacute;nomos</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#travel" title="Productos de viajes" class="slk_prod_link slk-travel"><img alt="Viajes" src="images/modules/mod_footer/viajes-pie.png" class="slk_prod_img"/><img alt="Viajes" src="images/modules/mod_footer/viajes-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Viajes</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#boat" title="Productos para Embarcaciones" class="slk_prod_link slk-boat"><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie.png" class="slk_prod_img"/><img alt="Embarcaciones" src="images/modules/mod_footer/embarcaciones-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Embarcaciones</span></a></div>
          </div>
          <div>
            <div class="slk_prod_item"><a href="#life" title="Productos de Vida" class="slk_prod_link slk-life"><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie.png" class="slk_prod_img"/><img alt="Vida" src="images/modules/mod_footer/vida-inversion-pie-activo.png" class="slk_prod_img_hover"/><span class="slk_prod_text">Vida</span></a></div>
          </div>
        </div>
      </div>
      <div class="mod_ftr_content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 ftr-boxName">
              <p class="ftr-name">&copy; Allianz compa&ntilde;ia de seguros</p>
            </div>
            <ul class="col-xs-12 col-lg-8 ftr-legal">
              <li class="ftr-item"><a href="#avi" title="" class="ftr-link">Aviso Legal</a></li>
              <li class="ftr-item"><a href="#pro" title="" class="ftr-link">Protecci&oacute;n de datos</a></li>
              <li class="ftr-item"><a href="#acc" title="" class="ftr-link">Accesibilidad</a></li>
              <li class="ftr-item"><a href="#pol" title="" class="ftr-link">Pol&iacute;tica de cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End mod_header-->
  </section>
</body></html>
